@inherits Umbraco.Web.Mvc.UmbracoViewPage<bl.Models.Inventory>


<div class="grid-x grid-padding-x tab-buttons">
    <div class="cell large-8">
        <a class="button tertiary expanded large">Description</a>
    </div>
    <div class="cell large-8">
        <a class="button tertiary expanded large">
        @(Model.ShowUpdateRecord == true ? "Update Item" : "Add Item" )
        </a>
    </div>
    <div class="cell large-8">
        <a class="button tertiary expanded large">Charts</a>
    </div>
</div>
<br />