/*Color Palette
----------------------------------------------------------*/
COLORS {
    color: #000000;     color: #FFFFFF;     color: #cccccc;     color: #feebc5;
    color: #74010a;     color: #A0000D;     color: #f3a42a;     color: #bc4212;
    color: rgba(116, 1, 10, 0.05);    color: rgba(116, 1, 10, 0.1);    color: rgba(116, 1, 10, 0.15);
    color: rgba(0, 0, 0, 0.25);       color: rgba(243, 164, 42, 0.50);
}

/*Font Families
----------------------------------------------------------*/
FONTS {
    font-family: 'Buda', cursive; font-style: normal; font-weight: 300;  /*Reg*/
    
    font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 300;  /*Light*/
    font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;  /*Reg*/
    font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 500;  /*Med*/
    font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 700;  /*Bold*/
}






/* General
----------------------------------------------------------*/
body{font-size:18px}
h1, h2, h3, h4, h5, h6 {font-family: 'Buda', cursive; font-style: normal; font-weight: 300; color: #74010a;}
h2, h3, h4, h5, h6 {margin-top: 32px;}
h1 {font-size:60px;}
h2 {font-size:50px;}
h3 {font-size:36px;}
h4 {font-size:26px;}
h5 {font-size:18px;}
h6 {font-size:15px;}
p   {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400; font-size:18px;}
div {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400; font-size:18px;}
a, a:visited {color: #f3a42a;}
a:hover, a:focus {color: rgba(243, 164, 42, 0.50);}
hr {border-bottom-color: #f3a42a;}
hr.minor {margin: 9px 0;}
em {font-family: 'Ubuntu', sans-serif; font-style: italic; font-weight: 300; font-size:18px; color: #74010a;}
blockquote {border-left-color: #f3a42a; padding-top: 0; margin-top: 0.5625rem;}
blockquote p, blockquote div {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 300; font-size:18px; color: #74010a;}
ul {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;list-style: none;}
ul li:before { content: "\271E";color: #f3a42a; padding-right: 12px;}
ol {font-family: 'Buda', cursive; font-style: normal; font-weight: 300; margin-left: 2.25rem;}
ol li {padding-left: 8px;}
mark {}
cite {font-family: 'Buda', cursive; font-style: normal; font-weight: 300; font-size: 17px;/*text-align:right;*/}
dfn {}
fieldset {margin-inline-start: 1px;margin-inline-end: 2px;padding-block-start: 0.35em;padding-inline-start: 0.75em;padding-inline-end: 0.75em;padding-block-end: 0.625em;border-width: 1px;border-style: solid;border-color: #f3a42a;}
legend {padding: 0 9px;font-weight: 500;color: #74010a;}
fieldset h4 {margin:0 0 0 24px;}
address {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:20px;}
select {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;/*font-size:14px;*/color:#74040a;margin: 0 0 1rem;border-radius:0;padding: 0px 46px 2px 8px;border: 1px solid #74040a;height: 26px;-webkit-appearance: none;-moz-appearance: none;appearance: none;background: url('/images/common/ddl-btn.jpg') 100% / 11% no-repeat rgba(116, 1, 10, 0.05);font-size:18px;height:32px;background-size: 15%;}
select::-ms-expand {display: none; /* remove default arrow on ie10 and ie11 */}
form {/*display: inline-block;*/display: inline;}
[type="checkbox"] {width:18px;height:18px;opacity:.7;}






/* Miscellanious Body Structures
----------------------------------------------------------*/
@media print {
    .noprint {display:none;}
    .printFullWidth {width:100% !important;}
    a[href]:after {content: none !important;}
}
.outerContent{background-position:left bottom;background-image:url(/images/toplevel/background_bottom.png);background-repeat:repeat-x;min-height:1000px;background-color:#000}
.innerContent{background:url(/images/toplevel/background_top.png) repeat-x left top;min-height:1000px}
.bodyContentPnl {background-color: #feebc5;}
.bodyContent {}
.bodyContent img {border: 1px solid #aaa;padding: 6px;margin: 0px 24px;}
.callout {padding: 2rem;border-radius:unset;border-color:transparent;border-width:0;border-style:none;margin:0;}
.caption {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;margin: 0 10px 5px 10px;color: #8a8a8a;font-size: 16px;}
.caption:before {content: "\2014 ";}
.call2action p {font-size:24px;}
.primaryLink {font-size:18px;font-style:italic;text-decoration:underline;}
.text-14U {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:14px;color:#000;}
.text-17U {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:17px;color:#000;}
.text-20U {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:20px;}
.margin-up-17 {margin-top: -17px;}
.msg {border-color: rgba(116, 1, 10, 0.15);border-style: solid;text-align: center;}
h5.btnMsg {margin-top:3px;}
.fullWidth img{width:100%;height:auto;}
.header h4 {font-weight: 600;}
.noMarginHeaders h1, .noMarginHeaders h2, .noMarginHeaders h3, .noMarginHeaders h4, .noMarginHeaders h5, .noMarginHeaders h6 {margin:0;}
h1.noTopMarginHeader, h2.noTopMarginHeader, h3.noTopMarginHeader, h4.noTopMarginHeader, h5.noTopMarginHeader, h6.noTopMarginHeader  {margin-top:0;}
@media screen and (max-width: 39.99875em) {
    .callout {padding: 1rem .5rem;}
    .readMore a {display:block;}
}





/* Footer
----------------------------------------------------------*/
.footerContentPnl {background-color: #feebc5;padding-top: 12px;padding-bottom: 12px;}
.footerContentPnl h5 {margin:0;font-weight: 700;}
a.returnToTop {color: #74010a;font-family: 'Buda', cursive; font-style: normal; font-weight: 700; font-size:18px;}
.footer.mainNav {/*padding-top: 8px;*/}
.footer.mainNav a {color:#fff;font-size: 17px;font-family: 'Buda',cursive;font-style: normal;font-weight: 300;}
nav.footer.mainNav div > ul {display: inline-table;}






/* Buttons
----------------------------------------------------------*/
.button.primary {background-color: #74010a;color: #ffffff; font-family: 'Buda', cursive; font-style: normal; font-weight: 300; font-size:22px;}
.button.secondary {background-color: #ffffff;color: #74010a; font-family: 'Buda', cursive; font-style: normal; font-weight: 300; font-size:22px;}
.button.large {font-size:26px;}
.button.primary:hover {background-color: #A0000D;color: #ffffff;}
.button.secondary:hover {background-color: #ffffff;color: #A0000D;}
div.button.secondary:hover {cursor:default;}
.button.avgHeight {padding-top:7px;padding-bottom:7px;}
.button.primary:focus {background-color: #74010a;color: #ffffff;}
.button.inactive {background-color: rgba(0, 0, 0, 0.5);}
.button.inactive:hover {background-color: rgba(0, 0, 0, 0.5);cursor:default}
.button.narrow {padding:6px 0;}






/* Title Section
----------------------------------------------------------*/
.titleSectionPnl {background-image:url('/images/toplevel/BannerBg01.png'); background-repeat:no-repeat;background-position: center top;background-size: cover;}
.titleSectionPnl.tall {min-height: 350px;}
.titleSectionPnl.narrow {/*min-height: 350px;*/}
.titleSectionPnl h1 {color:#fff;font-size:72px;line-height: 51px;margin-bottom: 16px;}
.titleSectionPnl h3 {color:#fff;line-height: 1em;margin-top:0;margin-bottom: 12px;}
.titleSectionPnl p {font-size:23px;line-height: 1.4em;color:#fff;}
.titleSectionPnl cite {font-size:26px;line-height: 1.2em; color:#fff;}
.titleSectionPnl a {color:#fff;}
@media screen and (max-width: 39.99875em) {
    .titleSectionPnl {background-image:none;min-height:unset;}
    .titleSectionPnl h1 {font-size:60px;line-height: 48px;}
    .titleSectionPnl h3 {font-size:32px;}
    .titleSectionPnl p {font-size:18px;}
    .titleSectionPnl cite {font-size:22px;}
}
@media screen and (min-width: 40em) and (max-width: 63.99875em) {
    .titleSectionPnl {background-image:none;min-height:unset;}
}
@media screen and (min-width: 64em) and (max-width: 75em) { 
    /* Between 1024 x 1200 */
    .titleSectionPnl {padding-right: 0;padding-left: 0;max-width: 100%;margin: 0 auto;}
}






/* Sidebar
----------------------------------------------------------*/
.sidebar {}
.sidebar a {color:#000;}
.sidebar .date {font-family: 'Buda', cursive; font-style: normal; font-weight: 700; font-size:17px;color: #000; text-transform:uppercase;border-bottom: 1px solid rgba(116, 1, 10, 0.15);color: rgba(116, 1, 10, 0.66);text-align: right; margin-bottom: 6px;}
.sidebar .name {padding-left: 32px;}
.sidebar .name a {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400; font-size:22px; color:#74010a; }
.sidebar .title {padding-left: 64px;margin-bottom: 12px;}
.sidebar .title a {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 300; font-size:20px;line-height: 20px;display: flex;}
.sidebar .reading {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400; font-size:20px; text-indent: 32px;}
.sidebar .viewMore {text-align:right;}
.sidebar .viewMore a {font-family: 'Buda', cursive; font-style: normal; font-weight: 300; font-size:19px;color: #74010a;}
.sidebar .story {margin: 14px 0;}
.sidebar .story a {font-family: 'Buda', cursive; font-style: normal; font-weight: 300; font-size:24px;line-height:22px;color: #74010a;}
.sidebar .name a:hover {text-decoration:underline;}
.sidebar .title a:hover {text-decoration:none;}
.sidebar .reading a:hover {text-decoration:underline;}
.sidebar .viewMore a:hover {text-decoration:underline;}
.sidebar .story a:hover {text-decoration:underline;}
.sidebar .cross {font-weight: 300;color: #f3a42a;margin-right: 6px;}






/* Navigation
----------------------------------------------------------*/
nav.mainNav {background-image: url("../images/toplevel/menuBackground.png");background-repeat:repeat-x;height:48px;width:auto;}
/*          DESIGN  */
nav.mainNav > a {color:#FFFFFF;font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:34px;}
nav.mainNav li:hover a {color:#74010a;}
nav.mainNav li:hover li:hover > a {color:#FFFFFF;}
nav.mainNav li li a {padding: 0px;font-size: 16px;}
.navbar, nav.mainNav ul {font-size: 15px;}
nav.mainNav ul {list-style: none;padding: 0px;z-index: 1;border-spacing: 5px; }
nav.mainNav ul li {color: #FFFFFF;padding: 12px 8px 8px 8px; cursor:default;border:1px solid transparent;}
nav.mainNav ul li a {color: #FFFFFF;}
nav.mainNav ul li ul {border:1px solid transparent;}
nav.mainNav ul li ul li {color:#74010a; background-color:#f5a50c; border:1px solid transparent;padding:3px 16px 3px 16px;/*padding:6px 16px 4px 16px;*/min-width:150px;}
nav.mainNav ul li:before {content: "";padding-right: 0;}
nav.mainNav ul li ul li:before {content: "\271E";padding-right: 10px; color:#74010a;font-weight: 700;}
nav.mainNav ul li ul li:hover:before {color:#fff;}
nav.mainNav ul li:hover {background-color:#74010a;border: 1px solid white; cursor:pointer;}
nav.mainNav ul > li:nth-child(even):hover {border:1px solid transparent;}
nav.mainNav ul li:hover > a, nav.mainNav ul li:hover > form > a {color:#fff !important;}
nav.mainNav ul li:hover ul li:hover a {/*color:#fff;*/}
nav.mainNav ul li:hover ul li a {color:#74010a;}
nav.mainNav ul li:hover ul li:hover {background-color:#74010a;color:#f5a50c; border: 1px solid white; cursor:pointer;}
nav.mainNav ul li ul li:hover ul {width:250px; width: max-content;}
nav.mainNav ul li ul li:hover ul li {color:#74010a; background-color:#f5a50c; border:1px solid transparent;padding:3px 16px 3px 16px;/*padding:6px 16px 4px 16px;*/}
nav.mainNav ul li ul li:hover ul li:hover {background-color:#74010a;color:#f5a50c; border: 1px solid white;}
nav.mainNav ul li ul li:hover ul li a{color: #74010a;}
nav.mainNav ul li ul li:hover ul li:hover a{color: #FFFFFF;}
nav.mainNav ul li.spacerIcon {padding: 10px 3px 0px 3px;opacity: .75;}
nav.mainNav ul li.spacerIcon:hover {background-color:transparent;color:#fff; cursor:default;}
nav.mainNav ul li.rootLink {border: 1px solid transparent;}
nav.mainNav ul li.rootLink a {color:#fff;}
nav.mainNav ul li.rootLink:hover {background-color:#74010a;border: 1px solid white;padding:9px 8px 31px 8px}
nav.mainNav ul li.rootLink:hover a {color:#fff;}
/*          LAYOUT  */
nav.mainNav div > ul {margin: -3px 0 0 0;display: table;}
nav.mainNav div > ul > li {float:left;display: table-cell;margin-top: 0;margin-right: 0px;font-size: 17px;line-height: normal;}
nav.mainNav div > ul > li > ul {display:none; float:none;margin-left: -10px;}
nav.mainNav div > ul > li > ul > li {display:block;float: none;margin-top:0; margin-right: 0;position: relative;}
nav.mainNav div > ul > li > ul > li > ul {display:none; float:none;margin-left: 0; top: -2px; left: 100%;}
nav.mainNav div > ul > li > ul > li > ul > li {position: relative;}
nav.mainNav div > ul > li:hover > ul {display:block;position: absolute;margin-top: 8px;}
nav.mainNav div > ul > li:hover > ul > ul {display:none;position: absolute;} 
nav.mainNav div > ul > li > ul > li:hover > ul {display:inline-block;position: absolute;}
nav.mainNav div > ul > li > ul > li:hover > ul > li {display:block;float: none; margin-right: 0;}
/*          MINI LOGO   */
#desktopMenu #atwMiniLogo {opacity:0;-webkit-transition:opacity .25s ease-in-out;transition:opacity .25s ease-in-out;height: 32px; width: auto;}
/*          SEARCH   */
nav.mainNav .searchIcon {border: 1px solid transparent;padding: 9px 12px 8px 12px;}
nav.mainNav .searchIcon:hover {border: 1px solid #fff !important;}
nav.mainNav .searchIcon a {display: inline-block;}
nav.mainNav .searchIcon img {margin: 0;width: 24px;height: auto;}
/*          STICKY NAV  */
#desktopMenu.fixed {position:fixed;z-index: 1;background-color: #520207;width: 100%;left: 0;right: 0;top: 0;}
#desktopMenu.fixed #atwMiniLogo {opacity:1;}
@media screen and (min-width: 64em) and (max-width: 75em) { 
    /* Between 1024 x 1200 */
    nav.mainNav ul li.spacerIcon {opacity: .75;}
    nav.mainNav ul li {padding: 12px 4px 8px 4px;}
    nav.mainNav .searchIcon {padding: 9px 0px 8px 3px;}
    nav.mainNav .grid-container {padding-right: 0;padding-left: 0;max-width: 100%;margin: 0 auto;}
}
@media screen and (min-width: 64em) and (max-width: 67.5em) { 
    nav.mainNav .miniLogoTab a {display:none;}
}


    



/* Mobile Navigation
----------------------------------------------------------*/
.title-bar {background: #bc4212;position: fixed;top: 0;left: 0;right: 0;z-index: 1;}
.title-bar .menu-icon {outline: none;}
.title-bar .menu-icon::after {background: #ffffff;-webkit-box-shadow: 0 7px 0 #ffffff, 0 14px 0 #ffffff;box-shadow: 0 7px 0 #ffffff, 0 14px 0 #ffffff;}
.title-bar-title {padding-right:6px;font-weight:400;}

.top-bar {background-color: #bc4212;padding:0;position: fixed;top: 45px;left: 0;right: 0;z-index: 1;display:none;}
.top-bar div {width: 100%;min-height: unset !important;max-width: none !important;}
.top-bar ul {background-color: #bc4212;}
.top-bar li {background: #bc4212;margin: 0;padding: 2px 0;}
.top-bar li li {background: none;}
.top-bar li:before { content:none;padding-right: 0px;}
.top-bar li.searchIcon {font-weight: 700;background-color: rgba(0, 0, 0, 0.1);}
.top-bar li.searchIcon img {margin: 0;width: 24px;height: auto; float:right;}
.drilldown a, .drilldown a:visited {background-color: transparent;color:#fff;}
.drilldown .is-drilldown-submenu {background:#bc4212;}
.drilldown .is-drilldown-submenu-parent > a::after {border-color: transparent transparent transparent rgba(255,255,255,0.4);}
.drilldown .js-drilldown-back {font-weight: 700;background-color: rgba(0, 0, 0, 0.1);}
.drilldown .js-drilldown-back > a::before {border-color: transparent rgba(255,255,255,0.4) transparent transparent;}
.top-bar li.parentLink {font-weight: 700;background-color: rgba(0, 0, 0, 0.05);}
.is-drilldown { /*overflow:visible !important;*/ }
.drilldown .is-drilldown-submenu.is-active { overflow: scroll; height: 95vh;}



    



/* Navigation Breadcrumbs
----------------------------------------------------------*/
.breadcrumbs {color: #74010a;font-family: 'Buda', cursive; font-style: normal; font-weight: 600;font-size:24px;margin: 1rem 0;}
.breadcrumb {white-space: nowrap}
a.breadcrumb {color: #74010a;font-family: 'Buda', cursive; font-style: normal; font-weight: 600;font-size:24px;}
a.breadcrumb:hover {color: #74010a;text-decoration:underline;}
.breadcrumbs .divider {margin: 0 6px 0 12px;}






/* Social Controls
----------------------------------------------------------*/
.socialControls {margin-top: 12px;}
.socialControls img {margin-left: 16px;}






/* Block List
----------------------------------------------------------*/
.blockList .blockItem {border:12px solid transparent;}
.blockItem figure {margin: 0;padding: 0;background: #74010a;overflow: hidden;position: relative;}
.blockItem figure img {-webkit-transition: 0.3s ease-in-out;transition: 0.3s ease-in-out;width:100%; height:auto;transform: scale(1.3) translate3d(0px,-20px,0px);border-width:0;}
.blockItem figure:hover img {-webkit-transform: scale(1.3) translate3d(0,0,0); transform: scale(1.3) translate3d(0,0,0); opacity:0.5;}
.blockItem figure figcaption {position: absolute;top: 0;bottom: 0;right: 0;left: 0;display: flex;}
.blockItem figure figcaption > div {height: 100%;flex-direction: column;-webkit-transform: translate3d(0,1.5em,0); transform: translate3d(0,1.5em,0); -webkit-transition: 0.5s ease-in-out;transition: 0.5s ease-in-out; color: #fff;font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size: 32px;line-height: 32px;display: inline-flex;justify-content: center;align-items: center;align-content: center; }
.blockItem figure:hover figcaption div {transform: translate3d(0,0,0);}
.blockItem figure figcaption div.sectionName {padding:0 9px;}
@media screen and (max-width: 63.9375em) {
    .blockItem figure img {-webkit-transform: scale(1.3) translate3d(0,0,0); transform: scale(1.3) translate3d(0,0,0); opacity:0.5;}
    .blockItem figure figcaption div {transform: translate3d(0,0,0); }
    .blockItem figure figcaption > div {font-size: 46px;line-height: 46px;}
}






/* Search Panel
----------------------------------------------------------*/
#searchPnl h1 {margin:0;}
#searchPnl h3 {margin:0;}
#searchPnl #inpSearch {}
#searchPnl #btnSearch {display:block;-webkit-box-sizing:border-box;box-sizing:border-box;height:2.4375rem;margin:0 0 1rem;padding:.25rem;border:3px solid #ffc376;border-radius:3px;background-color:#fefefe;-webkit-box-shadow:inset 0 1px 2px rgba(10,10,10,0.1);box-shadow:inset 0 1px 2px rgba(10,10,10,0.1);-webkit-transition:border-color .25s ease-in-out,-webkit-box-shadow .5s;transition:border-color .25s ease-in-out,-webkit-box-shadow .5s;-webkit-transition:box-shadow 0.5s,border-color .25s ease-in-out;transition:box-shadow 0.5s,border-color .25s ease-in-out,-webkit-box-shadow .5s,border-color .5s;-webkit-appearance:none;-moz-appearance:none;appearance:none;}
#searchPnl #btnSearch:hover {border-color:rgba(116, 1, 10, 0.5);}
#searchPnl [type="checkbox"] {/*width:18px;height:18px;margin:0;*/ display:none;}
#searchPnl [type="checkbox"] + label {color:#fff;font-size:18px;/*margin-right: 42px;*/}
#searchPnl a#btnReset {color:white;text-decoration:none;}
#searchPnl a#btnReset:hover {text-decoration:underline;}
#searchPnl .cbFilterPnl {border: 1px solid rgba(255, 255, 255, 0.15); border-radius: 3px;overflow: hidden;}
#searchPnl .cbFilterPnl:hover {background-color: rgba(255, 255, 255, 0.35);}
#searchPnl .active {background-color: rgba(255, 255, 255, 0.3);}
#searchPnl .cbFilterPnl input:hover, #searchPnl .cbFilterPnl label:hover {cursor:pointer;}
#searchResults .searchParams {}
#searchResults .searchParams h4 {margin: 0 0 6px;}
#searchResults .searchParams h4 .dataValue {color:black;}
#txtSearch {font-size: 22px; font-weight: 300; padding: 0 0 4px 12px;}
@media screen and (max-width: 39.9375em) {
    #txtSearch {font-size: 20px;}
}
@media screen and (min-width: 64em) and (max-width: 97em) {
    #searchPnl h1 {font-size: 36px; line-height: 60px;}
}
 






/* Pagination
----------------------------------------------------------*/
.paginationLst {color: #cccccc;}
.paginationLst a{color: #74010a;}
.paginationLst a.inactive{color: #cccccc;}
.paginationLst .page-no,
.paginationLst .pagination-first,
.paginationLst .pagination-previous,
.paginationLst .pagination-next,
.paginationLst .pagination-last,
.pagination-previous-set,
.pagination-next-set {display:none;}
.pagination-previous-set a {cursor:pointer;}
.pagination-next-set a {cursor:pointer;}
.pagination-next a::after {display: none;}
.pagination-previous a::before {display: none;}
@media screen and (max-width: 39.9375em) {
    .paginationLst .pagination-previous, .paginationLst .pagination-next {display:none !important;}
    .paginationLst .page-no {}
}






/* List View
----------------------------------------------------------*/
.listView {}
.listView hr {border-bottom-color: rgba(0, 0, 0, 0.25);}
.listView .listViewItem {padding:20px;}
.listView .listViewItem:nth-child(odd) {background-color: rgba(116, 1, 10, 0.10);}
.listView h3{margin: 3px 0 9px 0;line-height: 32px;}
.listView h3 a{color: #74010a;}
.listView h4{margin:0;}
.listView h4 a{color: #74010a;}
.listView h5{margin:0;}
.listView h5 a{color: #74010a;}
.listView .date{margin:0;}
.listView img{width:100%;height:auto;border-style:none;padding:0;}
@media screen and (min-width: 64em) and (max-width: 89.9375em) {
    .listView .prayerCandlePnl {display:none;}
}






/* Forms
----------------------------------------------------------*/
.form h4 {margin-top: 0;}
.form h6 {margin-top: 0;}






/* Filter Tabs
----------------------------------------------------------*/
.filters {margin:0;}
.filters li {background-color: rgba(116, 1, 10, 0.15);color: #74010a;margin-bottom: 3px;/*padding: 9px 0 9px 9px;*/}
.filters li h5 {margin:0;padding: 9px;}
.filters li:hover {background-color: rgba(116, 1, 10, 0.35);cursor:pointer;}
.filters li.active {background-color: rgba(116, 1, 10, 1);}
.filters li.active h5 {color: #fff;}
.filters li:before {content:none;padding-right:0;}






/* Blockgrids
----------------------------------------------------------*/
.blockgrid {}
.blockgrid a {}
.blockgrid .block {background-color: rgba(116, 1, 10, 0.05);transition:background-color .25s ease-in-out;}
.blockgrid .block:hover {background-color: rgba(116, 1, 10, 0.15);}
.blockgrid h2 {margin-top: 0;}
.blockgrid img {border-width: 0;padding: 0;margin: 0 auto;display: block;width:100%; height:auto;}
.blockgrid p {color:#000;line-height: 22px;}






/* Create Password Panel
----------------------------------------------------------*/
.createPasswordPnl {background-color: rgba(116, 1, 10, 0.05);}
.createPasswordPnl h3 {margin:0;}
.pwValidationPnl {padding: 0px 24px 24px 24px;}
.pwValidationPnl h3 {line-height: 36px;}
.pwValidationPnl img {border:none;width:auto;height:auto;margin: 0;}
.pwValidationPnl > div:nth-child(even) {background-color:#fff;}
@media screen and (max-width: 39.9375em) {
    .pwValidationPnl {padding: 0px 24px 24px 24px;}
    .pwValidationPnl h3 {line-height: 20px;font-size:20px;}
}






/* Scriptures
----------------------------------------------------------*/
.toc fieldset h4 {margin: 0 0 16px 24px;line-height: 26px;}
.toc h3 {color:#000000;}
 .scripture .chapterGrid {margin: 16px;}
 .scripture .chapterGrid .cell {padding:6px;}
 .scripture .chapterGrid .cell div {border:2px solid #74010a;padding:0;margin:0;transition:background-color .25s ease-in-out,border-color .25s ease-in-out;}
 .scripture .chapterGrid .cell div:before {display: inline-block;content: '\200B';  height: 100%; vertical-align: middle;}
 .scripture .chapterGrid .cell span {display: inline-block;vertical-align: middle;font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:23px;color:#74010a;transition:color .25s ease-in-out;}
 .scripture .chapterGrid .cell div:hover {background-color:rgba(116, 1, 10, 0.25);border-color:rgba(116, 1, 10, 0.25);cursor:pointer;}
 .scripture .chapterGrid .cell div:hover span {color:white;}
 .scripture .chapterGrid .cell.active div {background-color:#74010a;cursor:default;}
 .scripture .chapterGrid .cell.active div span {color:white;}






/* Prayers
----------------------------------------------------------*/
.prayerRequest h2 {margin: 0;}
.prayerDataPnl {background-color:rgba(116, 1, 10, 0.05);}
.prayerDataPnl input[type=button] {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:26px;}
.prayerDataPnl .dataType {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:24px;color:#000;}
.prayerDataPnl .dataValue {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:40px;color:#74010a;}
.prayerDataPnl img {border-style:none;padding:0;margin:0;width:100%;height:auto;}
.prayerDataPnl .data .cell:first-child {border-right:1px solid rgba(0, 0, 0, 0.25);}
@media screen and (max-width: 39.9375em) {
    .prayerDataPnl .data .cell:first-child {border-width:0;}
}
@media screen and (max-width: 63.9375em) {
    .prayerDataPnl .dataType {font-size:20px;}
    .prayerDataPnl .dataValue {font-size:26px;}
}

.prayerList {}
.prayerList .prayer {border:2px solid transparent;}
.prayerList .prayer:nth-child(odd) {background-color:rgba(116, 1, 10, 0.05);}
.prayerList .prayer:nth-child(1) {background-color:rgba(116, 1, 10, 0.15);}
.prayerList .prayer:hover {border-color:rgba(116, 1, 10, 0.15);}
.prayerList .prayer h4 {margin:0;padding-left:12px;}
.prayerList .prayer h5 {margin:0;padding-left:12px;}
.prayerList .prayer.header h5 {font-weight:700;}
.prayerList .prayer img {border:none;margin:0; padding:0 0 3px 0;width:100%;height:auto; max-width:20px;}

#pnlPrayerSummary .experiencePnl {background-color: rgba(116, 1, 10, 0.05);}
#pnlPrayerSummary .experiencePnl h4 {margin-top:16px;margin-bottom:16px;}
#pnlPrayerSummary .experiencePnl img {margin:0;padding:0;border:none;width:100%;height:auto; max-width:24px;}
#pnlPrayerSummary .experiencePnl .dataType {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:18px;color:#000;}
#pnlPrayerSummary .experiencePnl .dataValue {font-family: 'Buda', cursive; font-style: normal; font-weight: 700;font-size:18px;color:#74010a;}

#pnlPrayerPledges .prayerList {}
#pnlPrayerPledges .prayerList div {}
#pnlPrayerPledges .prayerList .prayer {border:2px solid transparent;}
#pnlPrayerPledges .prayerList a:nth-child(odd) .prayer {background-color:rgba(116, 1, 10, 0.05);}
#pnlPrayerPledges .prayerList a:nth-child(even) .prayer {background-color: #fff;}
#pnlPrayerPledges .prayerList a:hover .prayer {border-color:rgba(116, 1, 10, 0.15);}
#pnlPrayerPledges .prayerList .prayer img {border:none;margin:0; padding:0;width:100%;height:auto; max-width:24px;}
#pnlPrayerPledges .prayerList .prayer h4 {margin:0;padding-left:12px;}
#pnlPrayerPledges .prayerList .prayer .author {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:18px;color:#74010a;}






/* Illumination List
----------------------------------------------------------*/
.illuminationList .experiencePnl {background-color: rgba(116, 1, 10, 0.05);}
.illuminationList .experiencePnl h4 {margin-top:16px;}
.illuminationList .experiencePnl img {margin:0;padding:0;border:none;width:100%;height:auto; max-width:24px;}
.illuminationList .experiencePnl .dataType {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:13px;color:#000;}
.illuminationList .experiencePnl .dataValue {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:14px;color:#74010a;}
.illuminationList .illuminationFilter label{font-family: 'Buda', cursive; font-style: normal; font-weight: 600;font-size:14px;color:#000;display:inline-block;}
.illuminationList .illuminationFilter img {margin:0 3px 0 6px;padding:0;border:none;width:100%;height:auto; max-width:18px;}
.illuminationList .illuminationFilter .cell {opacity:.5; border:3px solid transparent;}
.illuminationList .illuminationFilter .cell.active {opacity:1; border-color:rgba(116, 1, 10, 0.05);}
.illuminationList .illuminationFilter .cell:hover {opacity:1;background-color: rgba(116, 1, 10, 0.05);cursor:pointer;}
.illuminationList .illuminationFilter a {display:block;}
.illuminationList .illuminationFilter a:hover {background-color:none;cursor:pointer;}
.illuminationList .storyList {}
.illuminationList .storyList div {}
.illuminationList .storyList .story {border:2px solid transparent;}
.illuminationList .storyList .story.header {background-color:rgba(116, 1, 10, 0.15);}
.illuminationList .storyList a:nth-child(odd) .story {background-color:rgba(116, 1, 10, 0.05);}
.illuminationList .storyList a:hover .story {border-color:rgba(116, 1, 10, 0.15);}
.illuminationList .storyList .story img {border:none;margin:0; padding:0;width:100%;height:auto; max-width:24px;}
.illuminationList .storyList .story h4 {margin:0;padding-left:12px;}
.illuminationList .storyList .story .author {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:18px;color:#74010a;}






/* Illumination Story
----------------------------------------------------------*/
#pnlAddEditIlluminationStory {display:none;}
#pnlIlluminationStory h2 {margin: 0 0 6px 0; line-height: 44px;}
#pnlIlluminationStory h4 {margin: 0 0 6px 0; }
#pnlIlluminationStory .experiencePnl {background-color: rgba(116, 1, 10, 0.05);}
#pnlIlluminationStory .experiencePnl h4 {margin-top:16px;}
#pnlIlluminationStory .experiencePnl hr {border-bottom-color: #cacaca;margin: 0.75rem auto;}
#pnlIlluminationStory .experiencePnl img {margin:0;padding:0;border:none;width:100%;height:auto; max-width:24px;}
#pnlIlluminationStory .experiencePnl .dataType {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 400;font-size:18px;color:#000;}
#pnlIlluminationStory .experiencePnl .dataValue {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:18px;line-height: 20px;color:#74010a;}
#pnlIlluminationStory .experienceTypeSelect {background-color: rgba(116, 1, 10, 0.05);}
#pnlIlluminationStory .experienceTypeSelect h4 {margin-top:16px;}
#pnlIlluminationStory .experienceTypeSelect hr {border-bottom-color: #cacaca;margin: 0.75rem auto;}
#pnlIlluminationStory .experienceTypeSelect img {margin:0;padding:0;border:none;width:100%;height:auto; max-width:24px;}
#pnlIlluminationStory .experienceTypeSelect label {font-family: 'Ubuntu', sans-serif; font-style: normal; font-weight: 100;font-size:20px;color:#000;line-height: 22px;}
/*#pnlIlluminationStory .experienceTypeSelect label.Heavenly span {border-bottom: 1px solid #3fa9f5; padding-bottom: 3px;}
#pnlIlluminationStory .experienceTypeSelect label.Hellish span {border-bottom: 1px solid #74010a; padding-bottom: 3px;}
#pnlIlluminationStory .experienceTypeSelect label.Purgatorial span {border-bottom: 1px solid #fff; padding-bottom: 3px;}
#pnlIlluminationStory .experienceTypeSelect label.OtherUnsure span {border-bottom: 1px solid #ffff00; padding-bottom: 3px;}*/
#pnlIlluminationStory .experienceTypeSelect input[type='radio'] {width:24px;height:24px;margin-right: 24px;}
#pnlIlluminationStory .optionalFieldsPnl {background-color: rgba(116, 1, 10, 0.05);}
#pnlIlluminationStory .optionalFieldsPnl .optionalFields p {font-family: 'Buda', cursive; font-style: normal; font-weight: 300; font-size:24px;color:#74010a;margin:0;}
#pnlIlluminationStory .optionalFieldsPnl h4 {margin-top:16px;}
#pnlIlluminationStory .optionalFieldsPnl hr {border-bottom-color: #cacaca;margin: 0.75rem auto;}






/* Visionary
----------------------------------------------------------*/    
.visionaryMsgList .apparitionList {}
.visionaryMsgList .apparitionList div {}
.visionaryMsgList .apparitionList .story {border:2px solid transparent;}
.visionaryMsgList .apparitionList a:nth-child(odd) .story {background-color:rgba(116, 1, 10, 0.05);}
.visionaryMsgList .apparitionList a:hover .story {border-color:rgba(116, 1, 10, 0.15);}
.visionaryMsgList .apparitionList .story img {border:none;margin:0; padding:0;width:100%;height:auto; max-width:24px;}
.visionaryMsgList .apparitionList .story h4 {margin:0;padding-left:12px;}
.visionaryMsgList .apparitionList .story .author {font-family: 'Buda', cursive; font-style: normal; font-weight: 300;font-size:18px;color:#74010a;}
.visionaryMsgList .apparitionList .story.header {background-color:rgba(116, 1, 10, 0.15);}
.visionaryMsgList .apparitionList .story.header h4 {font-weight: 600;}
.biography-pnl {}
.biography-pnl img {margin:0;}
.biography-pnl h4 {margin:8px 0 24px 0;font-size:22px;line-height:26px;}
.biography-pnl .content h4 {font-family: 'Ubuntu', cursive;font-size: 22px;color: black;word-break: break-all;}
@media screen and (max-width: 39.9375em) {
    .visionaryMsgList .apparitionList .story .author {font-size:16px;}
}
@media screen and (max-width: 63.9375em) {
    .visionaryMsgList .apparitionList .story .author {font-style: italic;}
}







/* Formulate Forms
----------------------------------------------------------*/
.formulate__form label {margin-top: 0;font-size: 26px;font-family: 'Buda', cursive;font-style: normal;font-weight: 300;color: #74010a;}
.formulate__inline-validation-summary {margin:-16px 0 0 0;}
.formulate__inline-validation-summary li {color: orange;font-weight: 600;}
.formulate__field--validation-error input, .formulate__field--validation-error textarea {border-color: #74040a; background-color: rgba(116, 4, 10, 0.1);}
.formThankyouMsg {text-align: center;font-size: 24px;padding: 42px 0;}






/* Manage Account
----------------------------------------------------------*/
.manageAccount h3 {margin-top:0;}
.manageAccount .form h3 {font-size: 28px;}
.manageAccount .form h4 {font-size: 23px;}
.manageAccount .form h5 {font-size: 18px;}
.manageAccount .form h6 {font-size: 13px;}
.manageAccount li.inactive {background-color: rgba(0, 0, 0, 0.25);}
.manageAccount li.inactive:hover {background-color: rgba(0, 0, 0, 0.25);cursor:default;}
.manageAccount li.inactive h5 {color: #fff;}






/* Prayers
----------------------------------------------------------*/
#pnlNewPrayer {}
#pnlNewPrayer img {}






/* Support Message Panel
----------------------------------------------------------*/
.supportMsg {background-color:#ffffff;color: #74010a;border: 2px solid #fff;margin-bottom: 21px;display:none; }
.supportMsg .msg {padding: 12px 15px;border-style:none;}
.supportMsg .msg p {margin:0; line-height: 20px;font-size:18px;color: #ce5414;}
.supportMsg .button {font-size:18px;margin:0;padding-right:0;padding-left:0;/*padding-right:9px;padding-left:9px;*/}
.supportMsg .button.supportUsToday {/*background-color: #f3a42a;*/}
.supportMsg .button.supportUsToday:hover {/*background-color: #a0000d;*/}
.supportMsg .button.noThanks {background-color: #f3a42a;}
.supportMsg .button.noThanks:hover {background-color: #a0000d;}
.supportMsg .button.remindLater {background-color: #f3a42a;}
.supportMsg .button.remindLater:hover {background-color: #a0000d;}






/* 
----------------------------------------------------------*/
#pnlByVisionary {display:none;}
#pnlByDate {display:none;}
.visionaryMsgList .msgList {}
.visionaryMsgList .msgList div {}
.visionaryMsgList .msgList .story {border:2px solid transparent;}
.visionaryMsgList .msgList a:nth-child(odd) .story {background-color:rgba(116, 1, 10, 0.05);}
.visionaryMsgList .msgList a:hover .story {border-color:rgba(116, 1, 10, 0.15);}
.visionaryMsgList .msgList .story h4 {margin:0;padding-left:12px;}
.visionaryMsgList .msgList .story.header {background-color:rgba(116, 1, 10, 0.15);}
.visionaryMsgList .msgList .story.header h4 {font-weight: 600;}
@media screen and (max-width: 39.9375em) {
    /*.visionaryMsgList .msgList .story .author {font-size:16px;}*/
}
@media screen and (max-width: 63.9375em) {
    /*.visionaryMsgList .msgList .story .author {font-style: italic;}*/
}





/* Miscellaneous
----------------------------------------------------------*/
.validation-summary-errors {background-color: rgba(116, 1, 10, 0.2);font-size: 24px;padding: 24px 8px 12px 8px;}
@media screen and (max-width: 39.9375em) {
    .validation-summary-errors li { font-size:20px; }
}
h4.originally-posted-by {line-height: 28px;}






/* Animations
----------------------------------------------------------*//*-webkit-; -moz-; -o-; */
/*.animation-duration-0s {-webkit-animation-duration:0s; -moz-animation-duration:0s; -o-animation-duration:0s; animation-duration:0s;}
.animation-duration-1s {-webkit-animation-duration:1s; -moz-animation-duration:1s; -o-animation-duration:1s; animation-duration:1s;}
.animation-duration-2s {-webkit-animation-duration:2s; -moz-animation-duration:2s; -o-animation-duration:2s; animation-duration:2s;}
.animation-delay-0s {-webkit-animation-delay:0s; -moz-animation-delay:0s; -o-animation-delay:0s; animation-delay:0s;}
.animation-delay-1s {-webkit-animation-delay:1s; -moz-animation-delay:1s; -o-animation-delay:1s; animation-delay:1s;}
.animation-delay-2s {-webkit-animation-delay:2s; -moz-animation-delay:2s; -o-animation-delay:2s; animation-delay:2s;}
.animation-iteration-count-loop {-webkit-animation-iteration-count:infinite; -moz-animation-iteration-count:infinite; -o-animation-iteration-count:infinite; animation-iteration-count:infinite;}
.animation-iteration-count-1 {-webkit-animation-iteration-count:1; -moz-animation-iteration-count:1; -o-animation-iteration-count:1; animation-iteration-count:1;}
.animation-iteration-count-2 {-webkit-animation-iteration-count:2; -moz-animation-iteration-count:2; -o-animation-iteration-count:2; animation-iteration-count:2;}
.animation-iteration-count-3 {-webkit-animation-iteration-count:3; -moz-animation-iteration-count:3; -o-animation-iteration-count:3; animation-iteration-count:3;}*/
