
<style>
    h1 { color: #2a2727; }
</style>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-24 cell">
            <h4 style="color:darkred; font-weight:700;">Site Styles</h4>
            <div class="callout">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-8">

                        <h1>H1- Lorem</h1>
                        <h2>H2- Lorem ipsum</h2>
                        <h3>H3- Lorem ipsum dolor sit</h3>
                        <h4>H4- Lorem ipsum dolor sit amet</h4>
                        <h5>H5- Lorem ipsum dolor sit amet</h5>
                        <h6>H6- Lorem ipsum dolor sit amet</h6>


                        <br />
                        <label style="font-weight:700;">Colors</label>
                        <div class="grid-x medium-up-4 grid-padding-y grid-margin-y  grid-margin-x   text-center">
                            <div class="cell" style="background-color:#222222; color:#fff">#222222</div>
                            <div class="cell" style="background-color:#323232; color:#fff">#323232</div>
                            <div class="cell" style="background-color:#333333; color:#fff">#333333</div>
                            <div class="cell" style="background-color:#444444; color:#fff">#444444</div>
                            <div class="cell" style="background-color:#676767; color:#fff">#676767</div>
                            <div class="cell" style="background-color:#707070; color:#fff">#707070</div>
                            <div class="cell" style="background-color:#777777; color:#fff">#777777</div>
                            <div class="cell" style="background-color:#888888; color:#fff">#888888</div>
                            <div class="cell" style="background-color:#8a8a8a; color:#fff">#8a8a8a</div>
                            <div class="cell" style="background-color:#b4b2b2;">#b4b2b2</div>
                            <div class="cell" style="background-color:#ebebeb;">#ebebeb</div>
                            <div class="cell" style="background-color:#e5e5e5;">#e5e5e5</div>
                            <div class="cell" style="background-color:#f7f7f7;">#f7f7f7</div>
                            <div class="cell" style="background-color:#ebea3b;">#ebea3b</div>
                            <div class="cell" style="background-color:#E5C527; color:#fff">#E5C527</div>
                            <div class="cell" style="background-color:#556B2F; color:#fff">#556B2F</div>
                            <div class="cell" style="background-color:#cd0202; color:#fff">#cd0202</div>
                            <div class="cell" style="background-color:#8b0000; color:#fff">#8b0000</div>
                            <div class="cell" style="background-color:#3B5998; color:#fff">#3B5998</div>
                            <div class="cell" style="background-color:#4099FF; color:#fff">#4099FF</div>
                        </div>



                    </div>
                    <div class="cell medium-8">
                        <p><strong>p-</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p><em><strong>p [em]-</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em></p>
                        <hr />
                        <div><strong>div-</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div><em><strong>div [em]-</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</em></div>
                        <hr />
                        <div class="grid-x medium-up-2">
                            <div class="cell">
                                <ul>
                                    <li>UL 01</li>
                                    <li>UL 02</li>
                                    <li>UL 03</li>
                                </ul>
                            </div>
                            <div class="cell">
                                <ol>
                                    <li>OL 01</li>
                                    <li>OL 02</li>
                                    <li>OL 03</li>
                                </ol>
                            </div>
                        </div>

                    </div>
                    <div class="cell medium-8">
                        <blockquote>
                            <p><strong>blockquote- </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>
                        <div><a>Link Tags | <strong>Link Tags</strong></a></div>
                        <br />
                        <cite>Cite Author</cite>
                        <br />
                        <mark>Mark text</mark>
                        <br /><br />
                        <dfn>Dfn text</dfn>
                        <br /><br />
                        <address>Address<br />308 Roosevelt Dr.<br /> New Boston, Pa 12345</address>
                        <br />
                        <fieldset>
                            <legend>
                                <a href="#">Fieldset legend</a>
                            </legend>
                            <p>Fieldset- Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="grid-x grid-padding-x">
        <div class="large-16 medium-16 cell">

            <h4 style="color:darkred; font-weight:700;">Form Fields</h4>

            <div class="grid-x grid-padding-x">
                <div class="large-24 cell">
                    <label style="font-weight:700;">Input Label</label>
                    <input type="text" placeholder="large-24.cell" />
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-8 medium-8 cell">
                    <label style="font-weight:700;">Input Label</label>
                    <input type="text" placeholder="large-8.cell" />
                </div>
                <div class="large-8 medium-8 cell">
                    <label style="font-weight:700;">Input Label</label>
                    <input type="text" placeholder="large-8.cell" />
                </div>
                <div class="large-8 medium-8 cell">
                    <div class="grid-x">
                        <label style="font-weight:700;">Input Label</label>
                        <div class="input-group">
                            <input type="text" placeholder="small-18.cell" class="input-group-field" />
                            <span class="input-group-label">.com</span>
                        </div>
                    </div>
                </div>
            </div>


            <div class="grid-x grid-padding-x">
                <div class="large-24 cell">
                    <label style="font-weight:700;">Select Box</label>
                    <select>
                        <option value="husker">Husker</option>
                        <option value="starbuck">Starbuck</option>
                        <option value="hotdog">Hot Dog</option>
                        <option value="apollo">Apollo</option>
                    </select>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 medium-12 cell">
                    <label style="font-weight:700;">Choose Your Favorite</label>
                    <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
                    <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
                </div>
                <div class="large-12 medium-12 cell">
                    <label style="font-weight:700;">Check these out</label>
                    <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                    <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                </div>
            </div>
            <br />
            <div class="grid-x grid-padding-x">
                <div class="large-24 cell">
                    <label style="font-weight:700;">Textarea Label</label>
                    <textarea rows="3" placeholder="small-24.cell"></textarea>
                </div>
            </div>
            <br />
        </div>

        <div class="large-8 medium-8 cell">
            <h4 style="color:darkred; font-weight:700;">Site Button Colors</h4>
            <br />

            <div class="grid-x medium-up-2">
                <div class="cell">
                    <a class="button" href="#">Button Primary</a>
                </div>
                <div class="cell">
                    <a class="button secondary" href="#">Button secondary</a>
                </div>
                <div class="cell">
                    <a class="button tertiary" href="#">Button tertiary</a>
                </div>
                <div class="cell">
                    <a class="button quaternary" href="#">Button quaternary</a>
                </div>
            </div>


            <br />
            <br />
            <h4 style="color:darkred; font-weight:700;">Site Button Sizes</h4>
            <br />

            <div>
                <a class="button tiny" href="#">Button Tiny</a>
            </div>
            <div>
                <a class="button small" href="#">Button Small</a>
            </div>
            <div>
                <a class="button" href="#">Button Regular</a>
            </div>
            <div>
                <a class="button large" href="#">Button Large</a>
            </div>

        </div>
    </div>
</div>


