@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using bl.Models;

@{
    //Obtain a list of all side navigations and their content
    List<Link> lstLinks = www.Controllers.AcctMngmntController.ObtainSideNavigation(Umbraco, Model);
}

<div class="grid-x grid-margin-y side-btn-list">
    @{
        foreach (var link in lstLinks)
        {
            <div class="cell">
                <a href="@link.Url" class='@(link.IsActive ? "active" : "")'>
                    <div class="align-middle" style="display:flex;">
                        @if (link.IsActive)
                        {
                            <img class="active" alt="" src="~/images/temp/side-btn-active.png" />
                        }
                        else
                        {
                            <img class="inactive" alt="" src="~/images/temp/side-btn-inactive.png" />
                        }
                        <div class="content">
                            <h3>@link.Title</h3>
                            <div>
                                @link.Subtitle
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        }
    }
</div>