@using Models;
@inherits UmbracoViewPage


@{
    PersonalAccountsContent personalAccountsContent = Controllers.GeneralController.ObtainPersonalAcctContent(Umbraco);
    Boolean isFirst = true;
}


<div class="grid-x grid-padding-x align-middle">
    <div class="small-16 small-offset-4 medium-9 medium-offset-1 cell">
        <img alt="Jim Fifth- webmaster" src="@personalAccountsContent.imgUrl" />
    </div>
    <div class="medium-13 large-13 cell">
        <br class="show-for-small-only" />

        @foreach (IPublishedContent ipArticle in personalAccountsContent.lstArticles)
        {
            if (isFirst)
            {
                isFirst = false;
            }
            else
            {
                <hr class="minor" />
            }

            <div class="story">
                <a href="@ipArticle.Url()" data-articleid="@ipArticle.Id">@ipArticle.Name</a>
            </div>
        }
    </div>
</div>