@using Models;
@inherits UmbracoViewPage



@{
    //Obtain donation page url
    string donationUrl = Umbraco.Content((int)(Common.siteNode.Donate)).Url();
    IPublishedContent ipHome = Umbraco.Content((int)(Common.siteNode.Home));
}


<div class="grid-x grid-padding-x">
    <div class="large-22 large-offset-1 cell">
        <a href="@donationUrl" class="button large expanded primary">Donate</a>
    </div>
</div>

@*@{Html.RenderAction("RenderLatestMessages", "Messages", new { ipModel = Model });}*@
@{Html.RenderAction("RenderLatestMessages", "Messages");}
<div class="grid-x grid-padding-x">
    <div class="large-22 large-offset-1 cell">
        <hr />
        <br />
        @if (ipHome.HasValue(Common.NodeProperties.adorationIframe))
        {
            <div class="flex-video widescreen">
                @Html.Raw(ipHome.Value(Common.NodeProperties.adorationIframe))
            </div>
            <br />
            <hr />
            <br />
        }
    </div>
</div>

@{ Html.RenderPartial("Partials/Common/PersonalAccounts", @Model); }

<br />
<br />