@inherits UmbracoViewPage



<div class="socialControls">
    <a href="PRINT" onclick="window.print(); return false;" class="show-for-large">
        <img alt="print" src="~/images/common/printericon.png" />
    </a>
</div>