
<style>
    .outline .grid-container { position: relative; border: 2px solid orange; background-color: #ffa5003d; }
    .outline .grid-x { background-color: #258f25; }
.outline .cell { border: 2px solid blue; background-color:white; }
</style>


<br />
<div class="outline">
    <div>
        <div class="grid-x">
            <div class="cell large-2 text-center">2</div>
            <div class="cell large-2 text-center">4</div>
            <div class="cell large-2 text-center">6</div>
            <div class="cell large-2 text-center">8</div>
            <div class="cell large-2 text-center">10</div>
            <div class="cell large-2 text-center">12</div>
            <div class="cell large-2 text-center">14</div>
            <div class="cell large-2 text-center">16</div>
            <div class="cell large-2 text-center">18</div>
            <div class="cell large-2 text-center">20</div>
            <div class="cell large-2 text-center">22</div>
            <div class="cell large-2 text-center">24</div>
        </div>
        <br />
        <div class="grid-x grid-margin-x">
            <div class="cell large-2 text-center">2+m</div>
            <div class="cell large-2 text-center">4</div>
            <div class="cell large-2 text-center">6</div>
            <div class="cell large-2 text-center">8</div>
            <div class="cell large-2 text-center">10</div>
            <div class="cell large-2 text-center">12</div>
            <div class="cell large-2 text-center">14</div>
            <div class="cell large-2 text-center">16</div>
            <div class="cell large-2 text-center">18</div>
            <div class="cell large-2 text-center">20</div>
            <div class="cell large-2 text-center">22</div>
            <div class="cell large-2 text-center">24</div>
        </div>
    </div>
    <br />
    <div class="grid-container">
        <div style="padding: 3px 0px;">Grid Container - 1440px</div>
        <div class="grid-x grid-padding-x">
            <div class="cell large-2 text-center">2+p</div>
            <div class="cell large-2 text-center">4</div>
            <div class="cell large-2 text-center">6</div>
            <div class="cell large-2 text-center">8</div>
            <div class="cell large-2 text-center">10</div>
            <div class="cell large-2 text-center">12</div>
            <div class="cell large-2 text-center">14</div>
            <div class="cell large-2 text-center">16</div>
            <div class="cell large-2 text-center">18</div>
            <div class="cell large-2 text-center">20</div>
            <div class="cell large-2 text-center">22</div>
            <div class="cell large-2 text-center">24</div>
        </div>
        <br />
        <div class="grid-x grid-padding-x grid-margin-x">
            <div class="cell large-2 text-center" style="padding:0px;">2+p+m</div>
            <div class="cell large-2 text-center">4</div>
            <div class="cell large-2 text-center">6</div>
            <div class="cell large-2 text-center">8</div>
            <div class="cell large-2 text-center">10</div>
            <div class="cell large-2 text-center">12</div>
            <div class="cell large-2 text-center">14</div>
            <div class="cell large-2 text-center">16</div>
            <div class="cell large-2 text-center">18</div>
            <div class="cell large-2 text-center">20</div>
            <div class="cell large-2 text-center">22</div>
            <div class="cell large-2 text-center">24</div>
        </div>
        <br />
        <div class="grid-x grid-margin-x">
            <div class="cell large-2 text-center">2+m</div>
            <div class="cell large-2 text-center">4</div>
            <div class="cell large-2 text-center">6</div>
            <div class="cell large-2 text-center">8</div>
            <div class="cell large-2 text-center">10</div>
            <div class="cell large-2 text-center">12</div>
            <div class="cell large-2 text-center">14</div>
            <div class="cell large-2 text-center">16</div>
            <div class="cell large-2 text-center">18</div>
            <div class="cell large-2 text-center">20</div>
            <div class="cell large-2 text-center">22</div>
            <div class="cell large-2 text-center">24</div>
        </div>
        <br />
        <div class="grid-x">
            <div class="cell large-2 text-center">2</div>
            <div class="cell large-2 text-center">4</div>
            <div class="cell large-2 text-center">6</div>
            <div class="cell large-2 text-center">8</div>
            <div class="cell large-2 text-center">10</div>
            <div class="cell large-2 text-center">12</div>
            <div class="cell large-2 text-center">14</div>
            <div class="cell large-2 text-center">16</div>
            <div class="cell large-2 text-center">18</div>
            <div class="cell large-2 text-center">20</div>
            <div class="cell large-2 text-center">22</div>
            <div class="cell large-2 text-center">24</div>
        </div>
    </div>
</div>

<br />
<div style="border:3px solid orange; width:100%; max-width:1440px;margin:0 auto;padding:2px 6px">1440- original size of fence</div>
<div style="border:3px solid purple; width:100%; max-width:1140px;margin:0 auto;padding:2px 6px">1140- original size within fence padding</div>
<br />