
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="grid-container">

    <div class="grid-x grid-padding-x">
        <div class="large-24 cell">
            <h4>Original Site Styles</h4>
            <div class="callout">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-8">
                        <h1>H1 Lorem</h1>
                        <h2>H2 Lorem ipsum</h2>
                        <h3>H3 Lorem ipsum</h3>
                        <h4>H4 Lorem ipsum</h4>
                        <h5>H5 Lorem ipsum</h5>
                        <h6>H6 Lorem ipsum</h6>
                        <hr />
                        <ul>
                            <li>UL 01</li>
                            <li>UL 02</li>
                            <li>UL 03</li>
                        </ul>
                        <ol>
                            <li>OL 01</li>
                            <li>OL 02</li>
                            <li>OL 03</li>
                        </ol>
                    </div>
                    <div class="cell medium-8">
                        <p><strong>p-</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p><em><strong>p [em]-</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em></p>
                        <hr />
                        <div><strong>div-</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div><em><strong>div [em]-</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</em></div>
                    </div>
                    <div class="cell medium-8">
                        <blockquote>
                            <p><strong>blockquote- </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>
                        <br />
                        <cite>Cite Author</cite>
                        <br />
                        <mark>Mark text</mark>
                        <br /><br />
                        <dfn>Dfn text</dfn>
                        <br /><br />
                        <address>308 Roosevelt Dr.<br /> New Boston, Pa 12345</address>
                        <br />
                        <fieldset>
                            <legend>Fieldset legend</legend>
                            <p>Fieldset- Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="grid-x grid-padding-x">
        <div class="large-16 medium-16 cell">
            <h5>Here&rsquo;s your basic grid:</h5>
            <!-- Grid Example -->

            <div class="grid-x grid-padding-x">
                <div class="large-24 cell">
                    <div class="primary callout">
                        <p><strong>This is a twelve cell section in a grid-x.</strong> Each of these includes a div.callout element so you can see where the cell are - it's not required at all for the grid.</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-12 medium-12 cell">
                    <div class="primary callout">
                        <p>Six cell</p>
                    </div>
                </div>
                <div class="large-12 medium-12 cell">
                    <div class="primary callout">
                        <p>Six cell</p>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-x">
                <div class="large-8 medium-8 small-8 cell">
                    <div class="primary callout">
                        <p>Four cell</p>
                    </div>
                </div>
                <div class="large-8 medium-8 small-8 cell">
                    <div class="primary callout">
                        <p>Four cell</p>
                    </div>
                </div>
                <div class="large-8 medium-8 small-8 cell">
                    <div class="primary callout">
                        <p>Four cell</p>
                    </div>
                </div>
            </div>

            <hr />

            <h5>We bet you&rsquo;ll need a form somewhere:</h5>
            <form>
                <div class="grid-x grid-padding-x">
                    <div class="large-24 cell">
                        <label>Input Label</label>
                        <input type="text" placeholder="large-24.cell" />
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-8 medium-8 cell">
                        <label>Input Label</label>
                        <input type="text" placeholder="large-8.cell" />
                    </div>
                    <div class="large-8 medium-8 cell">
                        <label>Input Label</label>
                        <input type="text" placeholder="large-8.cell" />
                    </div>
                    <div class="large-8 medium-8 cell">
                        <div class="grid-x">
                            <label>Input Label</label>
                            <div class="input-group">
                                <input type="text" placeholder="small-18.cell" class="input-group-field" />
                                <span class="input-group-label">.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-24 cell">
                        <label>Select Box</label>
                        <select>
                            <option value="husker">Husker</option>
                            <option value="starbuck">Starbuck</option>
                            <option value="hotdog">Hot Dog</option>
                            <option value="apollo">Apollo</option>
                        </select>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-12 medium-12 cell">
                        <label>Choose Your Favorite</label>
                        <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
                    </div>
                    <div class="large-12 medium-12 cell">
                        <label>Check these out</label>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-24 cell">
                        <label>Textarea Label</label>
                        <textarea placeholder="small-24.cell"></textarea>
                    </div>
                </div>
            </form>
        </div>

        <div class="large-8 medium-8 cell">
            <h5>Try one of these buttons:</h5>
            <p>
                <a href="#" class="button">Simple Button</a><br />
                <a href="#" class="success button">Success Btn</a><br />
                <a href="#" class="alert button">Alert Btn</a><br />
                <a href="#" class="secondary button">Secondary Btn</a>
            </p>
            @* <div class="callout">
                <h1>H1 Lorem</h1>
                <h2>H2 Lorem</h2>
                <h3>H3 Lorem</h3>
                <h4>H4 Lorem</h4>
                <h5>H5 Lorem</h5>
                <h6>H6 Lorem</h6>
                <hr />
                <p>p- Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>p- Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <div>div- Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                <div>div- Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</div>
                
            </div> *@
            <div class="callout">
                <h5>So many components!</h5>
                <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
                <a href="https://get.foundation/sites/docs/" class="small button">Go to Foundation Docs</a>
            </div>
        </div>
    </div>
</div>
<br />