@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<ColorAreaLayout>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var cmModel = Model.Content;
    var bkg = cmModel.BackgroundColor;
    var areaId = cmModel.AreaID;
}

<div id="@areaId" style="background-color:@bkg; padding: 50px 0; margin: 50px 0; color: $ffffff;" data-blockgrid="Components/colorArea">

            @await Html.GetBlockGridItemAreasHtmlAsync(Model)


</div>