@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<RichTextCustom>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<div data-blockgrid="Components/richTextCustom" class="rich-text">@Model.Content.RichTextContent</div>