@using Umbraco.Extensions;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem<SidebarHeader>>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;


<h4>@Model.Content.Header</h4>