// Variables
$imghv-selector: "img" !default;
$imghv-bg: rgb(51 51 51 / 90%) !default;
$imghv-padding: 1.5rem !default;
$imghv-color: #fff !default;
$imghv-fs: 1.125rem !default;
$imghv-duration: 0.75s !default;
$imghv-timing: cubic-bezier(.54, 0, .1, 1) !default;
