<style>
    legend { color: #ff1600; }
</style>


<div ng-click="block.edit()" ng-focus="block.focus">
    <fieldset>
        <legend>Navigation Link</legend>
        <!--{{block.data}}-->
        {{linkName = (block.data.link[0].name); ""}}
        {{linkUrl = (block.data.link[0].url); ""}}

        <table class="bvTable" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr>
                    <td>Link URL</td>
                    <td>
                        <span>{{linkName}}</span>
                        <span ng-if="linkUrl">&nbsp;&nbsp;==>&nbsp;&nbsp;<em>{{linkUrl}}</em></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />
    </fieldset>
</div>
<br />