@inherits Umbraco.Web.Mvc.UmbracoViewPage
@using ContentModels = Umbraco.Web.PublishedModels;
@using bl.Models;
@{ Layout = "TopLevelDashboard.cshtml"; }


@{
    //If parent page, redirect to child
    if (Model.ContentType.Alias == Common.DocTypes.AccountManagement)
    {
        Response.Redirect(Umbraco.Content((int)(Common.SiteNode.AcctMembership)).Url());
    }
}


<div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell large-7">
        @{ Html.RenderPartial(Common.PartialPath.AcctManagement_SideNavigation);}

        
    </div>
    <div class="cell large-17 callout acct-mngmnt">
        @RenderBody()
    </div>
</div>