@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Dashboard>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "TopLevelDashboard.cshtml";

    //Determine if another page needs to be displayed based on login status.
    www.Controllers.LoginController.DetermineLoginStatus(Response, Umbraco, Model);
}


<div style="height:100vh;width:100%; position:relative;">
    <img alt="" src="~/images/temp/dashboard.jpg" style="position: absolute;left: 0;top: 0;opacity: .25;" />
</div>