@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.LocationManager>
@using ContentModels = Umbraco.Web.PublishedModels;
@using bl.Models;
@{
    Layout = "AccountManagement.cshtml";

    //Determine if another page needs to be displayed based on login status.
    www.Controllers.LoginController.DetermineLoginStatus(Response, Umbraco, Model);
}



<h2>Locations Manager</h2>
<div>
    <img alt="" src="~/images/temp/img-box.png" style="float:right;margin-left:12px;" />
    <p>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia? De apocalypsi gorger omero undead survivor dictum mauris. Hi mindless mortuis soulless creaturas, imo evil stalking monstra adventus resi dentevil vultus comedat cerebella viventium. Qui animated corpse, cricket bat max brucks terribilem incessu zomby. The voodoo sacerdos flesh eater, suscitat mortuos comedere carnem virus. Zonbi tattered for solum oculi.</p>
</div>
<br />
<br />
<hr />
<br />
<br />

@{ Html.RenderAction(Common.wwwAction.RenderForm_LocationsManager, Common.wwwController.AcctMngmnt); }


@*@Html.Action("RenderForm_UserPreferences", "AcctMngmnt")*@

@*Html.RenderAction("RenderInstructions", "Illumination");
    Html.RenderAction("RenderForm", "Illumination", new { member = PgContent.Member, Umbraco = Umbraco });*@