@using ContentModels = Umbraco.Web.PublishedModels;
@using bl.Models;
@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Sandbox>
@{
    Layout = "TopLevel.cshtml";
}

<h1>Sandbox</h1>
<h3>This page will eventually provide details about the sandbox.  </h3>
<hr />


@{
    //Show Login Screen
    Html.RenderAction(Common.wwwAction.RenderForm_Login, Common.wwwController.Login);
}
