@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ScrumBoard>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "TopLevelDashboard.cshtml";

    //Determine if another page needs to be displayed based on login status.
    www.Controllers.LoginController.DetermineLoginStatus(Response, Umbraco, Model);
}



<h3 class="text-center">Being Built!!!</h3>


@*<div class="grid-x grid-padding-x grid-padding-y  flex-child-auto">
    <div class="cell" style="border:0px solid red;height:100%; position:relative;">



        <div class="grid-x grid-margin-x scrum-columns">
            <div class="cell large-4">
                <div class="column-header">To Do (4)</div>
                <div class="card bugout-bag">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card clothing">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-tshirt text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card cooking">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-mug-hot text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date complete">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card fire">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fab fa-gripfire text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date due">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist complete">
                            <i class="fas fa-tasks"></i>
                            4/4
                        </div>
                    </div>
                </div>

                <div class="card add-new">
                    + Add New
                </div>

            </div>
            <div class="cell large-4">
                <div class="column-header">Researching (3)</div>

                <div class="card bugout-bag">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card clothing">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-tshirt text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card cooking">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-mug-hot text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date complete">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card fire">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fab fa-gripfire text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date due">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist complete">
                            <i class="fas fa-tasks"></i>
                            4/4
                        </div>
                    </div>
                </div>

                <div class="card add-new">
                    + Add New
                </div>

            </div>
            <div class="cell large-4">
                <div class="column-header">In Progress (4)</div>

                <div class="card bugout-bag">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card clothing">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-tshirt text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card cooking">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-mug-hot text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date complete">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card fire">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fab fa-gripfire text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date due">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist complete">
                            <i class="fas fa-tasks"></i>
                            4/4
                        </div>
                    </div>
                </div>

                <div class="card add-new">
                    + Add New
                </div>

            </div>
            <div class="cell large-4">
                <div class="column-header">Complete (0)</div>

                <div class="card bugout-bag">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card clothing">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-tshirt text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card cooking">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-mug-hot text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date complete">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card fire">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fab fa-gripfire text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date due">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist complete">
                            <i class="fas fa-tasks"></i>
                            4/4
                        </div>
                    </div>
                </div>

                <div class="card add-new">
                    + Add New
                </div>

            </div>
            <div class="cell large-4">
                <div class="column-header">Urgent (2)</div>

                <div class="card bugout-bag">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card clothing">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-tshirt text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card cooking">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-mug-hot text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date complete">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card fire">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fab fa-gripfire text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date due">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist complete">
                            <i class="fas fa-tasks"></i>
                            4/4
                        </div>
                    </div>
                </div>

                <div class="card add-new">
                    + Add New
                </div>

            </div>
            <div class="cell large-4">
                <div class="column-header">Future Plans (3)</div>

                <div class="card bugout-bag">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-hiking text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card clothing">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-tshirt text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card cooking">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fas fa-mug-hot text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date complete">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist">
                            <i class="fas fa-tasks"></i>
                            2/4
                        </div>
                    </div>
                </div>

                <div class="card fire">
                    <div class="card-header">
                        <div class="card-title">
                            <span class="icon"><i class="fab fa-gripfire text-center"></i></span>Categories
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="title">Title</div>
                        <div class="content">
                            This card makes use of the card-divider element.
                            This card makes use of the card-divider element.
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="date due">
                            <i class="far fa-calendar-alt"></i>
                            Apr 1
                        </div>
                        <div class="comments">
                            <i class="far fa-comment-alt"></i>
                            2
                        </div>
                        <div class="checklist complete">
                            <i class="fas fa-tasks"></i>
                            4/4
                        </div>
                    </div>
                </div>

                <div class="card add-new">
                    + Add New
                </div>

            </div>
        </div>


    </div>
</div>*@
