@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = null; }


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <link rel="stylesheet" type="text/css" href="~/styles/foundation.css">
        <link rel="stylesheet" type="text/css" href="/styles/site.css?v=2">

    @RenderSection("Header", false)
</head>
<body>
    <script type="text/javascript" src="~/scripts/jquery3.5.1.min.js"></script>

    <div class="off-canvas-wrapper">
        @*<div class="off-canvas position-left" id="offCanvas" data-off-canvas data-transition="overlap">
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
                    <div class="cell small-18">
                        MENU
                    </div>
                    <div class="cell small-6 text-center">
                        <button type="button" class="button right float-right" data-toggle="offCanvas">Menu</button>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
                    <div class="cell small-18">
                        <a href="/dashboard/financial-prepping/financial-accounts/">Financial Prepping</a>
                    </div>
                    <div class="cell small-6 text-center">
                        <a href="/dashboard/financial-prepping/financial-accounts/" class="button right float-right">[FP]</a>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
                    <div class="cell small-18">
                        Link
                    </div>
                    <div class="cell small-6 text-center">
                        <button type="button" class="button right float-right" data-toggle="offCanvas">[***]</button>
                    </div>
                </div>
            </div>
            <div class="grid-container">
                <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
                    <div class="cell small-18">
                        Link
                    </div>
                    <div class="cell small-6 text-center">
                        <button type="button" class="button right float-right" data-toggle="offCanvas">[***]</button>
                    </div>
                </div>
            </div>
        </div>*@

        <main class="off-canvas-content" data-off-canvas-content>


            @*<div class="grid-x callout tertiary">
                <div class="cell large-4 callout secondary text-center">
                    LOGO
                </div>
                <div class="cell auto text-right align-self-middle">
                    <div>
                        <a href="#">Link</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">Link</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">Link</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="#">Link</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        |
                    </div>
                </div>
                <div class="cell large-6 text-right align-self-middle">
                    <button type="button" class="button">F</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="button">T</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="button">L</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="button" class="button tiny">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Log In&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>
            <div class="grid-x callout secondary">
                <div class="cell">
                    <button type="button" class="button large primary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Primary Button&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="button large secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secondary Button&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="button large secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secondary Button&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                    &nbsp;&nbsp;&nbsp;
                    <button type="button" class="button large secondary">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Secondary Button&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                </div>
            </div>*@



            @RenderBody()
        </main>
    </div>




    <script type="text/javascript" src="~/scripts/foundation.min.js"></script>
    <script type="text/javascript" src="~/scripts/app.js"></script>

    @RenderSection("Footer", false)

</body>
</html>