@using formulate.core.Models;
@using formulate.app;
@using formulate.app.Types;
@using formulate.app.Helpers;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.ContactUs>
@{ Layout = "TopLevel.cshtml"; }




@{
    //Obtain page data
    Models.ContactUsContent PgContent = Controllers.GeneralController.ObtainContactUsContent(Model, Html);
}



<div class="form">
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell">
            <p>@PgContent.ContactSummary</p>
            <div class="formulate-wrapper">
                <h2>Drop Us a Line</h2>


                @* Wrap the form with this element so the custom JavaScript can find it. *@
                <div class="formulate-wrapper">
                    @Html.Action("Render", "FormulateRendering", new { form = PgContent.PickedForm })
                    @* The JavaScript file for Formulate's plain JavaScript template. *@
                    <script src="/App_Plugins/formulate/responsive.plain-javascript.min.js" async></script>
                    @* This is your JavaScript that handles events dispatched by Formulate. *@
                    <script src="/scripts/custom-formulate-script.js" async></script>
                </div>


            </div>
        </div>
    </div>

    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell">
            <h2>Snail Mail</h2>
            <address>
                @Html.Raw(Html.ReplaceLineBreaks(Model.MailingAddress))
            </address>
        </div>
    </div>
</div>