@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.Donations>
@{ Layout = "TopLevel.cshtml";}



<div>
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell large-14 large-offset-10 text-center medium-text-right">
            <h4>"But seek first the kingdom of God and his righteousness, and all these things will be added to you." <br />—Matthew 6:33</h4>
        </div>
    </div>
    <br />
    <br />
    <div class="grid-x grid-margin-x grid-padding-x">
        <div class="cell large-20 large-offset-2 text-center call2action">
            <p>
                Has the Lord blessed you through this website?<br />
                Please consider a charitable contribution to this ministry<br />
                to ensure we can continue reaching as many people as possible.
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y large-up-2 blockgrid" data-equalizer="blockgrid">

        <div class="cell block">
            <a href="@Model.PaypalUrl" target="_blank">
                <div data-equalizer-watch="blockgrid">
                    <h2>Paypal</h2>
                    <div class="grid-x">
                        <div class="cell small-22 small-offset-1">
                            <img alt="Donate via Paypal" src="~/images/common/donate-paypal.jpg" />
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cell block">
            @* https://developers.google.com/pay/api/web/guides/tutorial *@
            <a href="@Model.GoogleWalletUrl" target="_blank">
                <div data-equalizer-watch="blockgrid">
                    <h2>Google Wallet</h2>
                    <div class="grid-x">
                        <div class="cell small-22 small-offset-1">
                            <img alt="Donate via Paypal" src="~/images/common/donate-google.jpg" />
                            <h5>Email Address: <strong>jfifth1976@gmail.com</strong></h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        @*<div class="cell block">
            <a href="@Model.FacebookUrl" target="_blank">
                <div data-equalizer-watch="blockgrid">
                    <h2>Facebook</h2>
                    <div class="grid-x">
                        <div class="cell small-22 small-offset-1">
                            <img alt="Donate via Paypal" src="~/images/common/donate-facebook.jpg" />
                            <h5>Facebook messanger allows donations via the ($) icon.</h5>
                        </div>
                    </div>
                </div>
            </a>
        </div>*@

        <div class="cell block">
            <div data-equalizer-watch="blockgrid">
                <h2>Snail Mail</h2>
                <div class="grid-x">
                    <div class="cell small-22 small-offset-1">
                        <address>
                            @Html.Raw(Html.ReplaceLineBreaks(Model.MailingAddress))
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>