@inherits UmbracoViewPage
@{ Layout = "ManageAccount.cshtml"; }



<div id="pnlEditAcct" class="createAcct">
    <div class="grid-x">
        <div class="cell">

            @if (TempData["UpdatedSuccessfully"] != null && (bool)TempData["UpdatedSuccessfully"])
            {
                <h3 class="text-center">Your account has been successfully updated!</h3>
            }
            else
            {
                Html.RenderAction("RenderFormWithData", "Membership", new { loginId = User.Identity.Name });
            }
        </div>
    </div>
</div>


@section Footer {
    <script src="~/Scripts/custom/password-validation.js"></script>
}