@inherits UmbracoViewPage
@{ Layout = "TopLevel.cshtml"; }



<div class="form createAcct">
    <div class="grid-x">
        <div class="cell">
            @{Html.RenderAction("RenderForm", "ForgotPassword");}
        </div>
    </div>
</div>