@using Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.Message>
@{ Layout = "TopLevel.cshtml"; }



@{ Html.RenderPartial("Partials/MessagesFromHeaven/_originallyPostedBy", Model); }

<h4>@Model.Subtitle</h4>
@Model.GetGridHtml(Html, Common.NodeProperties.content, Common.miscellaneous.Foundation6)
<br />