@inherits Umbraco.Web.Mvc.UmbracoViewPage
@{ Layout = "IlluminationStatistics.cshtml"; }



@{
    Models.BarChart stats = Controllers.IlluminationController.ObtainStatistics_byGender(Model);
}


<div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell text-center">
        <h4>Experience Comparison by Gender</h4>
        <br />
    </div>
</div>
<div id="filterExperienceTypes" class="grid-x grid-padding-x">
    <div class="cell medium-6 text-center">
        <ul class="filters">
            <li class="active" data-show="chart-heavenly"><h5>Heavenly</h5></li>
        </ul>
    </div>
    <div class="cell medium-6 text-center">
        <ul class="filters">
            <li class="" data-show="chart-hellish"><h5>Hellish</h5></li>
        </ul>
    </div>
    <div class="cell medium-6 text-center">
        <ul class="filters">
            <li class="" data-show="chart-purgatorial"><h5>Purgatorial</h5></li>
        </ul>
    </div>
    <div class="cell medium-6 text-center">
        <ul class="filters">
            <li class="" data-show="chart-other"><h5>Other/Unsure</h5></li>
        </ul>
    </div>
</div>
<br />

@{ Html.RenderPartial("Partials/Charts/HorizontalBarChart", stats); }

@section Footer {
    <script>
        //Experience Filter Button Controls
        $(document).ready(function () {
            //Instantiate variables
            var btnExperienceFilters = $('#filterExperienceTypes li')
            var canvasList = $('#canvasList canvas');


            //Handles
            $(btnExperienceFilters).click(function () {
                //Make selected button active
                $(btnExperienceFilters).removeClass('active');
                $(this).addClass('active');
                //Obtain canvas to show
                var canvas = $(this).data("show");
                //Show only selected canvas
                canvasList.addClass('hide');
                $('#' + canvas).removeClass('hide');
            });
        });
    </script>
}