@using Models;
@inherits UmbracoViewPage
@{ Layout = null; }


@{
    //Obtain top-level data
    TopLevelContent PgContent = Controllers.GeneralController.ObtainTopLevelData(Model, Request.Url.Host);
}

<!DOCTYPE html>
<html>
<head>
    <!-- ANALYTICS -->
    @if (PgContent.ShowAnalytics)
    {
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-22206781-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-22206781-1');
        </script>
    }

    <!-- META TAGS -->
    @{
        if (PgContent.Meta != null && PgContent.Meta.AllTags != null)
        {
            @PgContent.Meta.AllTags

        }
        else
        {
            <meta name="robots" content="noimageindex, noindex, nofollow, nosnippet, noarchive">
        }
    }
    @*@PgContent.Meta.AllTags*@
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!-- STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Buda:300|Ubuntu:300,400,400i,500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/Bundles/bundledStyles.min.css?v=12" />

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/Scripts/jquery-3.3.1.min.js"></script>

    @RenderSection("Header", false)

</head>
<body>
    <div class="outerContent" id="top">
        <div class="innerContent">

            <div class="hide-for-large noprint">
                @{ Html.RenderPartial("Partials/Common/MainNavigation", @Model); }
            </div>

            <header class="grid-container noprint">
                <div class="grid-x">
                    <div class="show-for-large cell">
                        <a href="/">
                            <img alt="After the Warning" src="~/images/common/main-header-full-width-no-shadow.png" />
                        </a>
                    </div>
                    <div class="small-24 medium- hide-for-large cell text-center">
                        <br />
                        <br />
                        <a href="/">
                            <img alt="After the Warning" src="~/images/common/main-logo-no-shadow.png" />
                        </a>
                        <hr />
                    </div>
                </div>
            </header>

            <div id="desktopMenu" class="show-for-large noprint">
                @{ Html.RenderPartial("Partials/Common/MainNavigation", @Model); }
            </div>

            @{ Html.RenderPartial("Partials/Common/TitlePanel", @Model); }

            @{ Html.RenderPartial("Partials/Common/SupportPnl"); }


            <div class="grid-container bodyContentPnl">
                <div class="grid-x home">
                    <div class="cell panel">
                        <div class="grid-x noprint">
                            <div class="small-24 medium-19 large-16">
                                @{ Html.RenderPartial("Partials/Common/Breadcrumbs", @Model); }
                            </div>
                            <div class="hide-for-small-only medium-5 large-8 cell text-right">
                                @{ Html.RenderPartial("Partials/Common/SocialControls"); }
                            </div>
                        </div>

                        <div class="grid-x" data-equalizer="bodyContent" data-equalize-on="large">
                            <div class="small- medium- large-16 cell bodyContent callout printFullWidth" data-equalizer-watch="bodyContent">
                                @RenderBody()
                            </div>
                            <div class="small- medium- large-8 cell sidebar noprint" data-equalizer-watch="bodyContent">
                                <br class="hide-for-large" />
                                <br class="hide-for-large" />
                                @{ Html.RenderPartial("Partials/Common/Sidebar"); }
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            @{ Html.RenderPartial("Partials/Common/FooterNavigation"); }

        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
        <script type="text/javascript" src="/Bundles/bundledScripts.js?v=03"></script>
        @RenderSection("Footer", false)
    </div>
</body>
</html>
