@using Models;
@using ContentModels = Umbraco.Web.PublishedModels;
@inherits UmbracoViewPage<ContentModels.WebmasterMessage>
@{ Layout = "TopLevel.cshtml"; }



<h4>@Model.Subtitle</h4>
@Model.GetGridHtml(Html, Common.NodeProperties.content, Common.miscellaneous.Foundation6)
