@import'_variables-com';

footer { width: 100%; background-color: $header_color_solid_bkg; color: $color_glob_white; margin-top: 0;



    .logo { height: 50px; width: auto;
        @media only screen and (max-width: $bp_sm) { margin-bottom: 25px }
    }



    a, a:visited, a:visited:hover { color: $color_glob_white; font-size: $def_font_size_B; text-decoration: none;
        &:hover, &:focus { text-decoration: underline; color: $color_glob_white;

            &.email { text-decoration: underline; }
        }
    }

    .seperator { margin: 0 18px; }

    h2 { font-size: 20px; line-height: 1.25em; color: $color_glob_white; margin-bottom: 20px; }

    .social {
        a { font-size: 40px; margin-right: 0.25em; text-decoration: none;

            img { width: 40px; height: auto; margin-bottom: .25em; }
        }
    }

    form {
        input[type=text], input[type=email] { font-size: $def_font_size_B; border-radius: 0; margin-bottom: 3px;

            &::placeholder { color: #95989a; font-size: $def_font_size_A; font-style: italic; font-weight: $weight_Book; }

            &:focus { box-shadow: none; }
        }

        button, input[type=submit] { font-size: 14px; font-weight: $weight_Normal; border-radius: 0; width: auto; background-color: transparent; text-transform: none; color: $color_glob_white; cursor: pointer; padding: .5em 1em; border: solid 2px $color_glob_white; margin: 12px 0; }
    }

    .copyright { margin: 15px 0 30px 0; }

    address { margin: 0 0 30px 0; }
}


