 @*
 
 
 <section class="hero-home" style="background-image:url('/images/hero01-background-image.png');">

    <div class="grid-container">
        <div class="grid-x grid-padding-y grid-margin-y">
            <div class="cell">

                <div class="grid-x grid-padding-y">
                    <div class="cell laptop-2 laptop-offset-11">
                        <img class="site-logo" src="/images/mti-logo-vertical.svg" />
                    </div>
                </div>
                <div class="grid-x grid-padding-y">
                    <div class="cell text-center">
                        <p class="h3 phone-number">
                            <i class="fa-solid fa-phone-volume"></i>
                            <a href="tel:12169304225">216-930-4225</a>
                        </p>
                        <h1>THE BEST SCHOOL FOR AUTO MECHANICS AND COLLISION TECHNICIANS</h1>
                        <p class="h5">
                            Auto Mechanic | Auto Body Technician<br />
                            Certification Programs That Ignite Careers<br />
                            5 Months | Hands-On | Learn to Earn
                        </p>
                    </div>
                </div>

                <br />
                <br />
                <br />
                <br />
                <div class="grid-x grid-padding-y">
                    <div class="cell text-center">
                        <img alt="" src="/images/ase-banner.png" />
                    </div>
                </div>
                <br />
                <br />
                <br />
                <br />


                <div class="grid-x grid-padding-y grid-padding-x" data-equalizer>
                    <div class="cell large-offset-3 large-9">

                        <div class="panel teal-bg text-center" data-equalizer-watch>
                            <p class="h5 text-center"><strong>CHOOSE YOUR MATRIX PROGRAM</strong></p>
                            <br />
                            <p class="h6 text-center">What degree are you interested in?</p>
                            <div>
                                <select>
                                    <option value="Auto Maintenance Repair &amp; Efficiency">Auto Maintenance Repair &amp; Efficiency</option>
                                    <option value="Collision Repair &amp; Refinish Efficiency">Collision Repair &amp; Refinish Efficiency</option>
                                </select>
                            </div>
                            <br />

                            <button class="btn text-center">
                                Next
                            </button>

                            <div class="field-validation-error" id="answerRequiredDiv" style="display:none">
                                You must answer the question before proceeding.
                            </div>
                        </div>

                    </div>
                    <div class="cell large-9">

                        <div class="panel text-center" data-equalizer-watch>
                            <p class="h5 text-center"><strong>EFFICIENCY BOOTCAMPS</strong></p>
                            <p class="h5 text-center">4 Days | Hands-On Training</p>
                            <p class="h5 text-center">Accelerate Growth, Improve Retention, Proven ROI</p>
                            <p>Techs | Advisors | Estimators</p>
                            <a class="btn text-center" href="/efficiency-bootcamps/">Learn More</a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
</section>



 *@