@inherits Umbraco.Web.Mvc.UmbracoViewPage<Models.Contact>


<div id="error-msg-pnl" class="grid-x grid-margin-x grid-margin-y">
    <div class="cell text-center">
        <br />
        <br />
        <h3 class="alert">Oops... an error occured!<br />Please try again.</h3>
        <br />
        <br />
    </div>
</div>
<input type="hidden" id="hfldScrollTo" value="true" />