@inherits Umbraco.Web.Mvc.UmbracoViewPage<Models.Contact>


<div id="succeed-msg-pnl" class="grid-x grid-margin-x grid-margin-y">
    <div class="cell text-center">
        <br />
        <br />
        <h3>Thank you<br />Your inquiry has been submitted successfully.</h3>
        <img alt="" class="seperator-stars" src="~/images/common/seperator-stars.png" />
        <img alt="" class="seperator-stars" src="~/images/common/seperator-stars.png" />
        <img alt="" class="seperator-stars" src="~/images/common/seperator-stars.png" />
        <br />
        <br />
    </div>
</div>
<input type="hidden" id="hfldScrollTo" value="true" />