@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.GuestAccount>
@using ContentModels = Umbraco.Web.PublishedModels;
@{ Layout = "TopLevel.cshtml"; }


@{
    //Get cookie if exists
    string cookieValue = "";
    if (Request.Cookies[bl.Models.Common.Misc.ExamRecordId] != null)
    {
        cookieValue = Request.Cookies[bl.Models.Common.Misc.ExamRecordId].Value;
    }
}


<div class="grid-container Standard">
    <div class="titles">
        <br />
        @if (!string.IsNullOrWhiteSpace(Model.Title))
        {<h1>@Model.Title</h1> }
    else
    { <h1>@Model.Name</h1>}

        @if (!string.IsNullOrWhiteSpace(Model.Subtitle))
        {<h2>@Model.Subtitle</h2>}
        <br />
    </div>



    <div class="grid-x grid-margin-x grid-margin-y">
        <div class="cell laptop-14 large-14">

            <div class="main-content">
                <fieldset class="exam-results">
                    <legend>Review Submitted Exam</legend>
                    @{Html.RenderAction(bl.Models.Common.Action.RenderExamResults, bl.Models.Common.Controller.Exam, new { _examRecordId = cookieValue });}
                </fieldset>
                <br />
                <br />
                @Html.Raw(Model.Content)
            </div>

        </div>
        <div class="cell    laptop-9 laptop-offset-1   large-9 large-offset-1">
            @{Html.RenderAction(bl.Models.Common.Action.RenderSignupPanel, bl.Models.Common.Controller.Common);}
        </div>
    </div>
</div>
<br />
<br />
