@import'_variables-com';


/*  Small screens: Mobile devices    */
/*  max-width 640px    */
@media only screen and (max-width: $bp_sm) {
}

/*  Medium screens: Tablets  */
/*  min-width 641px */
@media only screen and (min-width: $bp_tablet_min) {
}
/*  min-width 641px and max-width 1024px */
@media only screen and (min-width: $bp_tablet_min) and (max-width: $bp_tablet) {
}

/*  Laptop screens  */
/*  min-width 1025px    */
@media only screen and (min-width: $bp_lap_min) {
}
/*  min-width 1025px and max-width 1440px   */
@media only screen and (min-width: $bp_lap_min) and (max-width: $bp_lap) {
}

/*  Large screens   */
/*  min-width 1441px    */
@media only screen and (min-width: $bp_large-min) {
}
/*  min-width 1441px and max-width 1920px   */
@media only screen and (min-width: $bp_large-min) and (max-width: $bp_large) {
}

/*  XLarge screens  */
/*  min-width 1921px    */
@media only screen and (min-width: $bp_Xlarge-min) {
}

.newsLattus, .newsCategory { margin-top: 215px;

    h1 { color: $color_glob_teal; padding-bottom: 20px }
}

/* Base styles - General
----------------------------------------------------------*/
html, body { height: 100%; margin: 0; }
body { margin: 0; padding: 0; font-family: $def_font; font-size: $def_font_size_A; font-weight: $weight_light; line-height: $def_line_height_A; color: $def_font_color; background-color: $color_glob_white; }
h2, h3, h4, h5, h6 { }
h1 { font-family: $def_font_condensed; color: $h1_color; font-size: $h1_size; font-weight: $weight_Medium; line-height: $def_line_height_B_alt; margin-top: 0; }
h2 { font-family: $def_font_condensed; color: $h2_color; font-size: $h2_size; font-weight: $weight_Medium; line-height: $def_line_height_B; margin-bottom: 0.25em; margin-block-start: 0.83em; margin-block-end: 0.4em; margin-inline-start: 0px; margin-inline-end: 0px; }
h3 { font-family: $def_font_condensed; color: $h3_color; font-size: $h3_size; font-weight: $weight_Medium; margin-bottom: 0.25em; line-height: $def_line_height_B; margin-block-start: 1em; margin-block-end: 1em; margin-inline-start: 0px; margin-inline-end: 0px; }
h4 { font-family: $def_font_condensed; color: $h4_color; font-size: $h4_size; font-weight: $weight_Medium; margin-bottom: 0.25em; line-height: $def_line_height_B; margin-block-start: 1.33em; margin-block-end: 1.33em; margin-inline-start: 0px; margin-inline-end: 0px; }
h5 { font-family: $def_font_condensed; font-size: $h5_size; color: $h5_color; line-height: $def_line_height_B; font-weight: $weight_Medium; margin-block-start: 1.67em; margin-block-end: 1.67em; margin-inline-start: 0px; margin-inline-end: 0px; }
h6 { font-family: $def_font; font-weight: $weight_Medium; font-size: $h6_size; line-height: $def_line_height_B; margin-block-start: 2.33em; margin-block-end: 2.33em; margin-inline-start: 0px; margin-inline-end: 0px; }



p { font-family: $def_font; font-weight: $weight_light; font-size: $def_font_size_A; line-height: $def_line_height_A; margin: 0 0 20px 0; }


strong { font-weight: $weight_Medium }
.sr-only { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.imageCover { background-size: cover; background-repeat: no-repeat; background-position: 50.0% 50.0%; }
.imageContain { background-size: contain; background-repeat: no-repeat; }
img.bordered { box-shadow: 0 0 1px 0px black; }

@media only screen and (max-width: $bp_sm) {
    .mbl-height-initial { }
}

a, a:visited { font-family: $def_font; color: $def_font_color; text-decoration: underline; font-weight: $weight_Normal; transition: background-color 500ms ease-out 0ms, color 100ms ease-out 0ms;
    &:hover, &:focus { color: $color_glob_green; text-decoration: underline; }
    cite { text-decoration: none; }
}

    a.read-more, a.read-more:visited, div.read-more { font-weight: $weight_Book; text-decoration: none; font-size: $def_font_size_A; line-height: 25px; margin: 0;
        &:after { display: inline-block; position: relative; content: '\f054'; font-family: 'Font Awesome 6 Pro'; font-weight: $weight_Book; background-image: none; margin-left: 0.5em; bottom: 1px; height: auto; font-size: 14px; }
        &:hover, &:focus { color: $color_glob_green; text-decoration: none; }
    }

    a.link-button { color: $color_glob_teal; font-weight: $weight_Book; border: 2px solid $color_glob_teal; display: inline-block; padding: .5em 2em; margin: 0; text-decoration: none; background-color: transparent;
        &:hover, &:focus { }
    }

    a.link-button-dark { color: $color_glob_white; font-weight: $weight_Book; display: inline-block; padding: .5em 2em; margin: 0; text-decoration: none; background-color: $color_glob_teal;
        &:hover, &:focus { background-color: $color_glob_green; }
    }


hr { background-color: $color_ECMC_teal; margin-top: 25px; margin-bottom: 25px; height: 1px; border: 0; }
em { }
blockquote { }
    blockquote p, blockquote div { }
ul { margin: 0; margin: 20px 40px; }
    ul li { font-size: $def_font_size_A; line-height: $def_line_height_A; }
        ul li:before { }
ol { }
    ol li { }
mark { }
cite { }
dfn { }
fieldset { border: revert; padding: revert; margin: revert; }
legend { }
address { font-style: normal; white-space: pre-line; }
select { }
    select::-ms-expand { display: none; /* removes default arrow on ie10 and ie11 */ }
form { }
[type=text], [type=password], [type=date], [type=datetime], [type=datetime-local], [type=month], [type=week], [type=email], [type=number], [type=search], [type=tel], [type=time], [type=url], [type=color], textarea { margin: 0; font-family: $def_font; -webkit-appearance: none; box-sizing: border-box; width: 100%; padding: 0.5em 1em; font-size: 20px; background-color: $color_glob_white; }
[type=submit], [type=button] { -webkit-appearance: none; box-sizing: border-box; width: auto; text-transform: uppercase; color: $color_glob_white }
[type=search] { border: 1px solid #95989a; border-radius: 0px; background-color: #ffffff; font-family: inherit; font-size: 1rem; font-weight: 400; line-height: 1.5; color: #303133; }
.sr-only { position: absolute; left: -10000px; top: auto; width: 1px; height: 1px; overflow: hidden; }
.full-height { height: 100% !important; }
.off-canvas.is-transition-overlap.is-open { -webkit-box-shadow: none; box-shadow: none; }
/* Default Gutter
----------------------------------------------------------*/ .def-gutter-top { margin-top: $def_zurb_gutter }
.def-gutter-bottom { margin-bottom: $def_zurb_gutter }
/* Default Padding and Margin
----------------------------------------------------------*/ .def-margin-b { margin-bottom: $def_margin }
.def-margin-t { margin-top: $def_margin }
.def-padding-b { padding-bottom: $def_padding }
.def-padding-t { padding-top: $def_padding }
/* Row Padding
----------------------------------------------------------*/ section { padding-top: 0; padding-bottom: 0; }
    section.padding-top-only { padding-top: $def_padding; padding-bottom: 0; }
    section.padding-bottom-only { padding-top: 0; padding-bottom: $def_padding; }
    section.padding-both { padding-top: $def_padding; padding-bottom: $def_padding; }
    section.padding-none { padding-top: 0; padding-bottom: 0; }
/* Row Margin
----------------------------------------------------------*/ section { margin-top: 0; margin-bottom: 0; }
    section.margin-top { margin-top: $def_margin; margin-bottom: 0; }
    section.margin-bottom { margin-top: 0; margin-bottom: $def_margin; }
    section.margin-both { margin-top: $def_margin; margin-bottom: $def_margin; }
    section.margin-none { margin-top: 0; margin-bottom: 0; }
/* Off-Canvas Content [used for mobile navigations]
----------------------------------------------------------*/ .off-canvas-content { }
.js-off-canvas-overlay { z-index: -2; }
#offCanvasPnl { max-height: 66vh; }
/* Zurb Foundation Settings
----------------------------------------------------------*/ .grid-y { height: 100%; }
.callout { margin: 0; border: none; border-radius: 0px; }
/* Social Icons
----------------------------------------------------------*/ .social-icons {
    a { text-decoration: none;
        img { max-width: 36px; margin: 6px 6px 0 0; filter: invert(20%) sepia(1%) saturate(1669%) hue-rotate(32deg) brightness(92%) contrast(94%); }
    }
}
/* Landing Pages
----------------------------------------------------------*/ .landing-pg {
    h1 { color: $color_glob_teal; }
    h3 { color: $def_font_color; }
}
.news-and-events-landing-pg {
    h1 { color: $color_glob_teal; font-size: $h2_size; }
    h2 { color: $color_glob_teal; font-size: $h3_size; }
}

/* Misc Classes
----------------------------------------------------------*/
.no-hero-top-margin { margin-top:180px }