/* UMBRACO FORMS
----------------------------------------------------------*/
.umbraco-forms-page {
    h2 { margin-top: 0; }
    h3 { margin-top: 0; }
    h4 { margin-top: 0; }
    h5 { margin-top: 0; margin-bottom: 0; }
    label { font-weight: 600; }
    fieldset { margin-bottom: 24px;
        legend { }
    }
    .radiobuttonlist { margin-left: 36px; }
    .checkboxlist { margin-left: 36px; }
    .recaptcha2 { margin-bottom: 24px; }
}


.umbraco-forms-navigation { margin: 36px 0; }