/* MOBILE NAV
----------------------------------------------------------*/
.off-canvas { background-color: #ededed;
    &.position-right { width: 300px; z-index: 200; }
    hr { border-bottom: 1px solid #d7d7d7; }
    ul.main-nav {
        > li {
            a { background-color: #ededed;
                &::before { border-color: transparent rgb(205 2 2 / 65%) transparent transparent; }
                &::after { border-color: transparent transparent transparent rgb(205 2 2 / 65%); }
            }
            .js-drilldown-back {
                a { background-color: #d7d7d7; }
            }
            ul {
                li { }
            }
        }
    }
}
