@using ECMC_Umbraco.Models;
@using Umbraco.Cms.Core.Models;
@model List<SidebarViewModel>;




<div class="sidebar">
    <h4>Live Chat Hours</h4>
    <ul>
        <li>
            <p>Monday-Friday: 8 a.m.-6 p.m., CT</p>
        </li>
    </ul>
    <hr>
    <h4>Contact Us</h4>
    <ul>
        <li>
            <p>Have Questions? Need Help?</p>
        </li>
        <li>
            <a class="link-text" target="" href="tel:+8773313262">Call Us At 877-331-3262</a>
        </li>
        <li>
            <a class="link-text" target="" href="/contact-us">Email Us</a>
        </li>
        <li>
            <a class="link-text" target="_blank" href="https://app.acuityscheduling.com/schedule.php?owner=19406596&amp;calendarID=7339328">Make an Appointment <i class="fa fa-external-link fa-2xs" aria-hidden="true"></i></a>
        </li>
    </ul>
    <hr>
    <h4>Tools</h4>
    <ul>
        <li>
            <a class="link-text" target="" href="https://www.ecmcsolutions.org/student-webinars">Student Webinars</a>
        </li>
        <li>
            <a class="link-text" target="" href="/repayment-options/repayment-plans?doc=Repayment">Repayment Plan Comparison Calculator</a>
        </li>
        <li>
            <a class="link-text" target="" href="/repayment-options/income-driven-repayment-plans?doc=PAYE">
                Pay As You Earn Repayment<br>
                Calculator
            </a>
        </li>
        <li>
            <a class="link-text" target="" href="/repayment-options/income-driven-repayment-plans?doc=IBR">Income-Based Repayment<br>Calculator</a>
        </li>
    </ul>
    <hr>
    <h4>Forms</h4>
    <ul>
        <li>
            <a class="link-text" target="_blank" href="https://get.adobe.com/reader/">Download Acrobat Reader <i class="fa fa-external-link fa-2xs" aria-hidden="true"></i></a>
        </li>
        <li>
            <a class="link-text" target="" href="/forms">View All Forms</a>
        </li>
    </ul>
    <hr>
    <h4>Frequently Asked Questions</h4>
    <ul>
        <li>
            <a class="link-text" target="" href="/Frequently-asked-questions?doc=Can-I-Get-Federal-Tax-Credit-for-Paying-Tuition-or-Interest-on-my-Stuent-Loan">Can I Get Federal Tax Credit for Paying Tuition or Interest on My Student Loan(s)?</a>
        </li>
        <li>
            <a class="link-text" target="" href="/Frequently-asked-questions?doc=Where-Can-I-Find-Information-About-My-Federal-Student-Loan">Where Can I Find Information About My Federal Student Loan(s)?</a>
        </li>
        <li>
            <a class="link-text" target="" href="/Frequently-asked-questions/?doc=When-Do-I-Start-Repaying-My-Loan">When Do I Start Repaying My<br> Loan(s)?</a>
        </li>
        <li>
            <a class="link-text" target="" href="/Frequently-asked-questions?doc=Who-Do-I-Contact-if-I-Have-Questions-About-My-Federal-Student-Loan">Who Do I Contact if I Have Questions About My Federal Student Loan(s)?</a>
        </li>
        <li>
            <a class="link-text" target="" href="/frequently-asked-questions">View All Frequently Asked<br> Questions</a>
        </li>
    </ul>
</div>
