/*===================================================================================*/
/*  SITE SPECIFIC COLOR REGIONS  */
/*===================================================================================*/
.Coleman {
    .coleman-orange { color: #a4560a; }
    .coleman-black-bg { background-color: #000; color: #fff;
        h2 { color: #fff; }
        h3 { color: #fff; }
        h4 { color: #fff; }
        h5 { color: #fff; }
        h6 { color: #fff; }
        p, div { color: #fff; }
        a { color: #fff; }
    }
    .coleman-darkgreen-bg { background-color: #1a5937;
        h2 { color: #fff; }
        h3 { color: #fff; }
        h4 { color: #fff; }
        h5 { color: #fff; }
        h6 { color: #fff; }
        p, div { color: #fff; }
        a { color: #fff; }
    }
    .coleman-green-bg { background-color: #00843d;
        h2 { color: #fff; }
        h3 { color: #fff; }
        h4 { color: #fff; }
        h5 { color: #fff; }
        h6 { color: #fff; }
        p, div { color: #fff; }
        a { color: #fff; }
    }
    .coleman-orange-bg { background-color: #a4560a;
        h2 { color: #fff; }
        h3 { color: #fff; }
        h4 { color: #fff; }
        h5 { color: #fff; }
        h6 { color: #fff; }
        p, div { color: #fff; }
        a { color: #fff; }
    }
    .coleman-red-bg { background-color: #e92c2c;
        h2 { color: #fff; }
        h3 { color: #fff; }
        h4 { color: #fff; }
        h5 { color: #fff; }
        h6 { color: #fff; }
        p, div { color: #fff; }
        a { color: #fff; }
    }
}