/* Print Stylesheet
----------------------------------------------------------*/
@media print {
    @page { size: letter; }

    html { /*border: 2px solid purple;*/ height: 100%; width: 100%; margin: 0; padding: 0; }
    body { width: 100%; height: auto; margin: 0; padding: 0; float: none; background: #fff url(none); text-shadow: none; }
    header { display: none; }
    footer { display: none; }
    .no-print { display: none; }

    main { /*border: 1px solid yellow;*/ width: 100%; height: 100%; margin: 0; padding: 0; float: none; background: #fff url(none); text-shadow: none;
        .grid-container { padding: 0; margin: 0; }
        .grid-x { padding: 0 !important; margin: 0 !important; /*border: 1px solid red;*/ width: 100% !important; }
        .cell { padding: 0 12px !important; margin: 0 !important; /*border: 1px solid green;*/ width: 100% !important;
            &.medium-6 { width: 25% !important; }
            &.medium-10 { width: 41.6% !important; }
            &.medium-12 { width: 50% !important; }
            &.medium-18 { width: 75% !important; }
        }

        .Product { margin: 0; padding: 0;
            p { font-size: 14px; line-height: 18px; color: #000; }
            h2 { font-size: 19px; line-height: 21px; color: #527382 !important; margin: 0 0 9px;
                sup { color: #527382 !important; }
            }
            h3 { font-size: 17px; line-height: 24px; color: #527382 !important; margin: 0;
                sup { color: #527382 !important; }
            }
            .product-code { font-size: 16px; line-height: 20px; color: #646464; padding: 0; }
            .product-photos { display: none; }
            .product-photo-print { display: block; width: 95%; height: auto; padding: 8px; margin: 8px; border: 1px solid #CCC; }
            .product-utility-divider { display: none; }
            .product-utilities { display: none; }
            .product-icon-group { color: #646464 !important; font-size: 11px; line-height: 15px; text-align: center;
                .fa-circle-check { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }
                .svg-inline--fa { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }
                i { color: #50aa4b !important; }
                svg { color: #50aa4b !important; }
                path { color: #50aa4b !important; }

                .fa-circle-check:before { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }
                .svg-inline--fa:before { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }
                i:before { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }
                svg:before { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }
                path:before { color: #50aa4b !important; filter: invert(52%) sepia(100%) saturate(278%) hue-rotate(69deg) brightness(91%) contrast(89%); }

                div { font-size: 11px; line-height: 15px; }
                strong { font-size: 11px; line-height: 15px; }
            }
            .serving-selector { display: none; }
            .date-disclaimer { font-size: 12px; line-height: 15px; }
            #nutrition-serving table.table tbody tr:nth-child(3) { border-top: 2px solid #D6D4D5; }
            .brand-logo { max-width: 100px !important; margin-bottom: 12px; }
            .specs-printcol-a {
                br { display: none; }
            }

            table { border: 1px solid #666;
                tbody {
                    tr {
                        td { border: 1px solid #666; font-size: 13px !important; line-height: 16px !important; color: #000 !important; padding: 0 0 0 3px !important;
                            strong { }
                            hr { margin: 6px 0; }
                            h5 { font-size: 15px !important; font-weight: 700; margin: 0; }
                        }
                    }
                }
            }
        }
    }
}
