/*===================================================================================*/
/*  SITE SPECIFIC COLOR REGIONS  */
/*===================================================================================*/
.Cheney {
    .cheney-red-gradient-bg {
        background-image: url(/media/2691/red-gradient-bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        p { color: #fff; }
        h2 { color: #fff; }
        h3 { color: #fff; }
        h4 { color: #fff; }
        h5 { color: #fff; }
        h6 { color: #fff; }
        @media only screen and (max-width: 40em) {
            h3 { font-size: 24px; line-height: 32px; }
        }
    }
    .cheney-red-solid-bg { background-color: #cc0001; padding: 6px 24px;
        h4 { color: #FFF; font-size: 24px; font-weight: 400; }
        h5 { color: #FFF; font-size: 22px; font-weight: 400; }
        a, a:hover, a:visited { color: #FFF; text-decoration: none; }
    }
}
