
<div class="grid-x">
    <div class="cell medium-22 medium-offset-1">@*large-12 large-offset-6*@
        <div class="trust">
            @*<p><img src="/images/cards-accepted.jpg" class="seals" alt="Cards Accepted - Visa - Mastercard - Amex - Discover - PayPal"></p>
            <p><img src="/images/swtp-trust.png" class="seals bigseals" alt="PayPal Verified - SSL Certificate - RapidSSL"></p>*@
            <p><img src="/images/swtp-payment-icon-v2.jpg" class="seals bigseals" alt="PayPal Verified - SSL Certificate - RapidSSL"></p>
        </div>
    </div>
</div>
