@using Models;
@inherits UmbracoViewPage


@{
    //Determine if illumination controls are to be shown.
    Boolean activateIlluminationControls = Controllers.IlluminationController.areIlluminationControlsActivated(Umbraco);

    //Obtain base url for reset button
    var baseUrl = Umbraco.Content((int)Common.siteNode.Search).Url();
}

<div id="searchPnl">
    <div class="grid-x grid-padding-x align-bottom">
        <div class="cell large-4 text-center large-text-right">
            <h1>Search</h1>
            <br class="hide-for-large" />
        </div>
        <div class="cell auto">
            <input type="text" id="txtSearch" maxlength="100" placeholder="Enter your search terms here..." />
        </div>
        <div class="cell shrink">
            <input type="image" id="btnSearch" alt="Search" src="~/images/common/searchIcon_dark.png">
        </div>
    </div>

    <div class="grid-x grid-padding-x align-top">
        <div class="cell large-4 text-center large-text-right">
            <br class="hide-for-large" />
            <h3>In</h3>
            <br class="hide-for-large" />
        </div>
        <div class="cell auto">

            <div class="grid-x grid-margin-y grid-margin-x align-bottom small-up-2 medium-up-4 large-up-4">
                <div class="cell cbFilterPnl messages text-center">
                    <input type="checkbox" id="cbMessages" class="cbFilter" value="messages" />
                    <label for="cbMessages">Messages</label>
                </div>
                <div class="cell cbFilterPnl articles text-center">
                    <input type="checkbox" id="cbArticles" class="cbFilter" value="articles" />
                    <label for="cbArticles">Articles</label>
                </div>
                @*<div class="cell cbFilterPnl prayers text-center">
                    <input type="checkbox" id="cbPrayers" class="cbFilter" value="prayers" />
                    <label for="cbPrayers">Prayers</label>
                </div>*@
                <div class="cell cbFilterPnl bible text-center">
                    <input type="checkbox" id="cbBible" class="cbFilter" value="bible" />
                    <label for="cbBible">Bible</label>
                </div>
                @if (activateIlluminationControls)
                {
                    <div class="cell cbFilterPnl illuminations text-center">
                        <input type="checkbox" id="cbIlluminations" class="cbFilter" value="illuminations" />
                        <label for="cbIlluminations">Illuminations</label>
                    </div>
                }
            </div>

        </div>
        <div class="cell small-24 text-center large-shrink">
            <br class="hide-for-large" />
            <br class="show-for-small-only" />
            <a href="@baseUrl">Reset</a>
        </div>
    </div>

</div>