@inherits UmbracoViewPage<Models.PieChart>


<div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell">
        <canvas id="chartjs-4" class="chartjs"></canvas>
    </div>
</div>


<script>
    $(document).ready(function () {
        //Convert data into variables usable by chart
        var labels = JSON.parse(@Html.Raw(Json.Encode(Model.Labels)));
        var values = JSON.parse(@Html.Raw(Json.Encode(Model.Values)));
        var bgColors = JSON.parse(@Html.Raw(Json.Encode(Model.BgColors)));
        var hoverBgColors = JSON.parse(@Html.Raw(Json.Encode(Model.HoverBgColors)));


        //Create chart
        new Chart(document.getElementById("chartjs-4"), {
            "type": "doughnut",
            "data": {
                "labels": labels,
                "datasets": [{
                    "label": "Experience Type",
                    "data": values,
                    "backgroundColor": bgColors,
                    "hoverBackgroundColor": hoverBgColors
                }]
            },
            options: {
                responsive: true,
                legend: {
                    position: 'bottom'
                }
            }
        });
    });
</script>