<div class="video-panel">
   <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y align-middle">
            <div class="cell large-10 large-offset-2 text-center medium-text-right">
                <h2>WHAT IS CLEVELAND MADE OF...</h2>
                <p>At Cleveland, our ultimate goal is to develop long-lasting and mutually beneficial relationships with clients, subcontractors and design professionals. Learn more on how our construction professionals achieve the company’s mission to<span> </span><strong>Make It True®.</strong></p>
            </div>
            <div class="cell large-10">
                <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/hCVfB1ci_Lo" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
       </div>
   </div>
</div>


@* <img style="width:100%; height:auto;" src="\images\screenshots\home pg\05.png" /> *@