@import'../../_variables-com';

/* Icons */
/*@font-face { font-family: 'slick'; font-weight: normal; font-style: normal; src: url('./fonts/slick.eot'); src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg'); }
*/
/* Slider */
/*.slick-loading .slick-list { background: #fff url('./ajax-loader.gif') center center no-repeat; }
*/
/* Arrows */
.slick-prev,
.slick-next { font-size: 0; line-height: 0; position: absolute; top: 50%; display: block; width: 20px; height: 20px; padding: 0; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); cursor: pointer; color: transparent; border: none; outline: none; background: transparent; }
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus { color: transparent; outline: none; background: transparent; }
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before { opacity: 1; }
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before { opacity: .25; }

.slick-prev:before,
.slick-next:before { font-family: 'slick'; font-size: 20px; line-height: 1; opacity: .75; color: white; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/*.slick-prev { left: 25px; }
.slick-next { right: 25px; }
.slick-prev:before { content: '〈'; }
.slick-next:before { content: '\003E'; }

[dir='rtl'] .slick-prev { right: 25px; left: auto; }
[dir='rtl'] .slick-next { right: auto; left: 25px; }
[dir='rtl'] .slick-prev:before { content: '\003E'; }
[dir='rtl'] .slick-next:before { content: '<'; }*/


.slick-arrow {font-size: 50px; color: $color_glob_gray_700; padding: 50px 20px; background-color: rgba(255,255,255,.8); z-index: 1; position: absolute; opacity:0;transition: 1s;}
.slick-slider:hover .slick-arrow {opacity:1;}
.slick-arrow .slick-prev {left:0; top:0;bottom:0; width:100px;}
.slick-arrow .slick-prev::before {}
.slick-arrow .slick-next {right:0; top:0;bottom:0; width:100px;}
.slick-arrow .slick-next::before {}

.slick-arrow.slick-arrow-right {right: 0; top: calc(50% - 75px);}
.slick-arrow.slick-arrow-left { left:0; top: calc(50% - 75px);}



/* Dots */
.slick-dotted.slick-slider { margin-bottom: 30px; position:relative; }

.slick-dots { position: absolute; bottom: -25px; display: block; width: 100%; padding: 0; margin: 0; list-style: none; text-align: center; }
.slick-dots li { position: relative; display: inline-block; width: 24px; height: 20px; margin: 0 5px; padding: 0; cursor: pointer; }
.slick-dots li button { font-size: 0; line-height: 0; display: block; width: 20px; height: 20px; padding: 5px; cursor: pointer; color: transparent; border: 0; outline: none; background: transparent; }
.slick-dots li button:hover,
.slick-dots li button:focus { outline: none; }
.slick-dots li button:hover:before,
.slick-dots li button:focus:before { opacity: 1; }
.slick-dots li button:before { font-family: 'slick'; font-size: 36px; line-height: 20px; position: absolute; top: 0; left: 0; width: 20px; height: 20px; content: '•'; text-align: center; opacity: .25; color: black; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }
.slick-dots li.slick-active button:before { opacity: .75; color: black; }



/* Custom Settings */

.carousel { background-color: $color_glob_gray_200;  padding: 75px 0;  }
//background-size: cover; background-position: top center; position: relative;

.slider { width: 50%; margin: 100px auto; } 
.slick-slide { margin: 0px 75px; }
.slick-slide img {height: 450px; width: 800px;}



.slick-prev:before, .slick-next:before { color: black; }
.slick-slide { /*opacity: .2;*/ filter: grayscale(1); transition: all ease-in-out .3s; }
.slick-active { /*opacity: .5;*/ filter: grayscale(.5); transition: all ease-in-out .3s; }
.slick-current { /*opacity: 1;*/ filter: grayscale(0); transition: all ease-in-out .3s; }
.slick-slider { }
.slick-slider .slide { position: relative; }
.slick-slider .slide .content { position: absolute; top: 0; bottom: 0; left: 0; right: 60%; padding: 50px; z-index: 2; background-color: rgba(51,51,51,.8); }
    .slick-slider .slide .content h2 { font-size: ($h2_size - 5px); color: $color_glob_white; line-height: $def_line_height_B_alt; margin-bottom: 0.25em; }
    .slick-slider .slide .content p { color: $color_glob_white; font-size:$def_font_size_B; line-height: $def_line_height_B;  font-weight: $weight_Book; margin: 1em 0; font-family: $def_font_condensed; }
    .slick-slider .slide .content a.link-button, .slick-slider .slide .content a:visited.link-button { color: $color_glob_white; background-color: $color_glob_teal; border-color: $color_glob_teal;
        &:hover, &:focus { color: $color_glob_white; }
    }

@media only screen and (min-width: 0) and (max-width: 599px) {
    .slick-slider .slide .content { padding: 20px 55px; right: 0; }
    .slick-slide { margin: 0px 25px; }
        .slick-slide img { height: 250px; width: 600px; }
    .slick-slider .slide .content h2 { font-size: ($h2_size - 25px); margin-bottom: 10px !important; }
    .slick-slider .slide .content p { font-size: ($def_font_size_B - 5px); margin-bottom: 10px !important; }
    .slick-slider .slide .content .link-button { font-size: 15px; padding: 0.2em 0.6em; }
    }

@media only screen and (min-width: 600px) and (max-width: 950px) {
    .slick-slider .slide .content { padding: 30px }
    .slick-slide { margin: 0px 25px; }
    .slick-slide img { height: 350px; width: 700px; }
    .slick-slider .slide .content h2 { font-size: ($h2_size - 20px); margin-bottom: 10px !important; }
    .slick-slider .slide .content p { font-size: $def_font_size_B; font-weight: $weight_light; line-height: $def_line_height_B_alt; margin-bottom: 10px !important; }
    .slick-slider .slide .content .link-button { font-size: 15px; padding: 0.2em 0.2em; }
}