@using Models;
@inherits UmbracoViewPage<IPublishedContent>


@{
    //Obtain data from model
    BlockItemContent blockItemContent = Controllers.GeneralController.ObtainBlockItemContent(Umbraco, Model);
}


@if (!string.IsNullOrEmpty(blockItemContent.AboutImgUrl))
{
    <div class="cell blockItem" data-nodeid="@Model.Id">
        <a href="@blockItemContent.Url">
            <figure>
                <img src="@blockItemContent.AboutImgUrl" alt="">
                <figcaption>
                    <div class="text-center sectionName">@blockItemContent.Title</div>
                </figcaption>
            </figure>
        </a>
    </div>
}