@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<BillboardWithVideoLargeVsn>>



<section class="billboard-with-Video larger-vsn" data-blockgrid="blockgrid/Components/billboardWithVideo">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y    align-middle">

            @if (!Model.Content.VideoLocatedOnThe) 
            {
                //Video on left
                <div class="cell laptop-12">
                    <div class="responsive-embed widescreen">
                        <iframe src="@Model.Content.VideoEmbedUrl" height="315" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
                <div class="cell laptop-12">
                    @Html.Raw(Model.Content.Content)
                </div>
            }
            else
            {
                //Video on right
                <div class="cell laptop-12">
                    @Html.Raw(Model.Content.Content)
                </div>
                <div class="cell laptop-12">
                    <div class="responsive-embed widescreen">
                        <iframe src="@Model.Content.VideoEmbedUrl" height="315" frameborder="0" allowfullscreen=""></iframe>
                    </div>
                </div>
            }

           @*  <div class="cell laptop-12">
                <p class="h5">MTI's recent 20-week Collision graduates Katelin Heizer, Morgan Bellar and Mya Nyquist talk about their experiences.</p>
            </div>
            <div class="cell laptop-12">
                <div class="responsive-embed widescreen">
                    <iframe height="315" src="https://www.youtube.com/embed/KlVqscOjW-4" frameborder="0" allowfullscreen=""></iframe>
                </div>
            </div> *@
        </div>
    </div>
</section>
