@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Billboard>>



<section class="billboard" data-blockgrid="blockgrid/Components/billboard">
    <div class="grid-container">
        <div class="grid-x grid-margin-y grid-padding-y">
            <div class="cell">
                <h2 class="text-center"><strong>SUCCESS STORIES</strong></h2>
            </div>
            <div class="cell laptop-12 laptop-offset-6">
                <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zqZF4qLPt9U?si=3NLcHH5Gut9kOKRQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="cell laptop-12 laptop-offset-6">
                <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/uP-Jh_O5xKI?si=diJhs-d6F6zlXsOq" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
            <div class="cell laptop-12 laptop-offset-6">
                <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/BAVclwwD_vs?si=ZYY8t_SPc3bfzpQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</section>