@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<Categories>>



<section class="categories" data-blockgrid="blockgrid/Components/categories">
    <br />
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell laptop-10 laptop-offset-7">
                <div class="text-center">
                    <p class="h3 title-banner">UPSKILL EFFICIENCY BOOTCAMPS</p>
                    <br />
                    <br />
                    <br />
                    <p>Matrix Trade Institute provides HANDS-ON upskill and efficiency training. Your employees train for four days and return more productive.</p>
                </div>
            </div>

        </div>

        <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell laptop-8 laptop-offset-4">
                <div class="text-center">
                    <div class="img-wrap">
                        <img src="/images/icons/steering-wheel.svg" />
                    </div>
                </div>
                <br />
                <p class="h5 text-center">Steering &amp; Suspension Efficiency</p>
                <ul>
                    <li style="text-align: left;">Component replacement: Inner/Outer tie rods, struts, shocks, springs and more</li>
                    <li style="text-align: left;">Acetylene torch safety, set-up and proper use for seized components, broken bolt extraction and repair, etc.</li>
                    <li style="text-align: left;">Steering and suspension diagnosis, repair and upselling strategies</li>
                    <li style="text-align: left;">Alignment theory, angles and geometry</li>
                    <li style="text-align: left;">Alignments using Hunter Hawkeye Elite machine</li>
                    <li style="text-align: left;">Subframe inspection and adjustment</li>
                    <li style="text-align: left;">Timed repetitions and efficiency training</li>
                </ul>
            </div>
            <div class="cell laptop-8">
                <div class="text-center">
                    <div class="img-wrap">
                        <img src="/images/icons/break-repair.svg" />
                    </div>
                </div>
                <br />
                <p class="h5 text-center">Brake Repair Efficiency</p>
                <ul>
                    <li style="text-align: left;">Braking theory: Pascal's Law, friction, pressure</li>
                    <li style="text-align: left;">Brake measurements: Micrometer, dial indicator</li>
                    <li style="text-align: left;">Component replacement: Front and rear disc brakes, drum brakes, brake line repair, master cylinders, bench bleeding and more</li>
                    <li style="text-align: left;">Brake repair and resurfacing, brake lathe set-up, operation and repetition</li>
                    <li style="text-align: left;">Frozen/siezed component strategies and repair best practices</li>
                    <li style="text-align: left;">Brake system diagnosis, analysis, and upselling strategies</li>
                    <li style="text-align: left;">Brake fluid exchange</li>
                    <li style="text-align: left;">Efficiency training and timed repetitions</li>
                </ul>
            </div>
        </div>
    </div>
    <br />
    <br />
</section>