@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<CourseList>>



<section class="course-list" data-blockgrid="blockgrid/Components/courseList">
    <div class="grid-container">


        <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell text-center">
                <p class="h3 title-banner">MTI Programs</p>
            </div>
        </div>


        <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell laptop-10 laptop-offset-7">

                <div class="grid-x course-card">
                    <p class="h6 title">AUTO BODY / COLLISION REPAIR & REFINISH EFFICIENCY TRAINING PROGRAM</p>

                    <div class="cell laptop-10 bg-img-pnl" style="background-image:url('/images/panels/girl-repairing-hood.jpg')">&nbsp;</div>
                    <div class="cell laptop-14" style="padding: 4rem 2rem 2rem 2rem; margin-top: 60px ">
                        <p>The most affordable, hands-on, career-based Auto Body school in the nation.</p>
                        <p><strong>Topics Include:</strong></p>
                        <ul>
                            <li>Blueprint Disassembly/Technical Estimating</li>
                            <li>Paint Prep &amp; Finishing</li>
                            <li>Color Matching Success</li>
                            <li>Fast Lane &amp; Small Dent Repair</li>
                            <li>Airbag Diagnosis &amp; Repair</li>
                            <li>Welding– Plastic, Steel, Aluminum, Bronze</li>
                        </ul>
                        <br />
                    </div>
                </div>

            </div>
        </div>


        <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell laptop-10 laptop-offset-7">

                <div class="grid-x course-card">
                    <p class="h6 title">AUTO MECHANIC MAINTENANCE, LIGHT REPAIR &amp; EFFICIENCY  PROGRAM</p>

                    <div class="cell laptop-10 bg-img-pnl" style="background-image:url('/images/panels/auto-techs.png')">&nbsp;</div>
                    <div class="cell laptop-14" style="padding: 4rem 2rem 2rem 2rem; margin-top: 60px ">
                        <p>The nation's most affordable hands-on, career-based automotive program featuring our &copy;-T.I.M.E. Efficiency training.</p>
                        <p><strong>Topics Include:</strong></p>
                        <ul>
                            <li>Electrical/EV prep</li>
                            <li>Engine Performance&nbsp;</li>
                            <li>Electronic Steering &amp; Suspension</li>
                            <li>Advanced Braking Systems &amp; Repair</li>
                            <li>HVAC Diagnosis &amp; Repair</li>
                            <li>DMS Integration &amp; Communication Systems</li>
                            <li>M.T.I.M.E Efficiency Training &amp; Performance Management</li>
                        </ul>
                        <br />
                        <img src="/temp/ase-accredited-logo.png" />
                    </div>
                </div>

            </div>
        </div>


    </div>
</section>