@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<EducationPays>>




<section class="education-pays" data-blockgrid="blockgrid/Components/educationPays">
    <div class="grid-container">

        <div class="grid-x grid-padding-y grid-margin-y">
            <div class="cell text-center">
                <p class="h3"><strong>MTI CAREER EDUCATION PAYS - Block</strong></p>
            </div>
        </div>

        <div class="grid-x laptop-up-4 text-center  grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell">
                <p class="h2"><strong>$20+</strong></p>
                <p><strong>Per hour</strong></p>
                <small>Source: ZipRecruiter</small>
            </div>
            <div class="cell">
                <p class="h2"><strong>$57,770</strong></p>
                <p>
                    <strong>National Average Salary</strong>
                </p>
                <small>Source: Indeed.com</small>
            </div>
            <div class="cell">
                <p class="h2"><strong>600,000</strong></p>
                <p>
                    <strong>Tech Jobs Unfilled in 2020</strong>
                </p>
                <small>Source: Deloitte and the Manufacturing Institute</small>
            </div>
            <div class="cell">
                <p class="h2"><strong>70%</strong></p>
                <p>
                    <strong>Less Debt than 4-year College</strong>
                </p>
                <small>Source: The Simple Dollar</small>
            </div>
        </div>

    </div>
</section>