@using Umbraco.Extensions
@* @inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<GlobalTrustStripASEcert>> *@


@* <section class="@Html.Raw(Model.Content?.OuterMostClass)" @Html.Raw(Model.Content?.OuterMostAttributes)>
    <div class="@Html.Raw(Model.Content?.ContainerClasses)" @Html.Raw(Model.Content?.ContainerAttributes)>
    </div>
</section> *@

<h1 style="color:black">GlobalTrustStripASEcert file aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa </h1>