@using Umbraco.Extensions
@* @inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<GlobalTest>> *@ 



@* <section class="@Html.Raw(Model.Content?.OuterMostClass)" @Html.Raw(Model.Content?.OuterMostAttributes)>
    <div class="@Html.Raw(Model.Content?.ContainerClasses)" @Html.Raw(Model.Content?.ContainerAttributes)>
    </div>
</section> *@

<div style="padding: 50px; text-align: center; background: #0e3700; color: #ffffff6e;">
GlobalTest.cshtml - testing block
</div>
