@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<JobPlacementStats>>



<section class="teaser" data-blockgrid="blockViews/bvJobPlacementStats">
    <div class="grid-x">
        <div class="cell">
            <br />
            <br />
            <h3 style="color: red;">[Job Placement Stats]</h3>
            <br />
            <br />
        </div>
    </div>
</section>