@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<NumberedList>>




<section class="numbered-list" data-blockgrid="blockgrid/Components/numberedList">
    <div class="grid-container">
        <div class="grid-x grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
            <div class="cell laptop-10 laptop-offset-7">
                <br />
                <div class="text-center">
                    <p class="h3 title-banner">TRUST THE PROCESS</p>
                </div>
                <br />

                <ol class="numbered-item-list">
                    <li>
                        <div>
                            <p class="h5">Employee Assessment</p>
                            <p>Prove management cares about employee development. Candidates rate their own abilities and confidence. This provides the data and insight needed to ensure your ROI.</p>

                            <blockquote>
                                <p>"This was the answer I was looking for. First class trainers. Instant results."</p>
                                <cite>Ryan, Service Manager, <em>Elyria Hyundai</em></cite>
                            </blockquote>
                        </div>
                    </li>

                    <li>
                        <div>
                            <p class="h5">GROWTH OPPORTUNITIES</p>
                            <p>MTI works with you to analyze assessment data combined with specific growth opportunities for your employees and your business.</p>

                            <blockquote>
                                <p>"I learned more in a week at Matrix than 4 years on the job. I probably wouldn't still be a tech if it wasn't for the bootcamps."</p>
                                <cite>Nick, Tech, <em>Toyota Bedford</em></cite>
                            </blockquote>
                        </div>
                    </li>

                    <li>
                        <div>
                            <p class="h5">Return On Investment</p>
                            <p>Get your money back in WEEKS. Realize increases in productivity, efficiency and retention in the short and long term as the investment continues to pay dividends.  </p>

                            <blockquote>
                                <p>"The role playing at Matrix taught me how to manage stress while educating customers. The technical portion gave me the confidence to know what I was selling and why."</p>
                                <cite>Hallie, Service Advisor, <em>Airport Infiniti</em></cite>
                            </blockquote>
                        </div>
                    </li>
                </ol>

                <br />
            </div>
        </div>
    </div>
</section>