@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<SmartTeaser2>>



<div class="videoPanel   grid-container">
   @*  @Html.Raw(Model.Content.CustomScripts)

    <div class="grid-x grid-margin-y grid-padding-x grid-padding-y">
        <div class="cell medium-12">
            <img alt="@Model.Content.AltText" src="@Model.Content.Image?.Url()" style="width:100%; height:auto;" />
        </div>
        <div class="cell medium-12">
            @Html.Raw(Model.Content.Content)
        </div> 
    </div>*@
    [TO BE BUILT]
</div>