@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem<WhyMatrix>>




<section class="why-matrix" data-blockgrid="blockgrid/Components/whyMatrix">
    <div class="grid-container">
        <div class="grid-x grid-margin-y grid-padding-y">
            <div class="cell text-center">
                <p class="h2" >Why Matrix?</p>
            </div>
        </div>
        <div class="grid-x grid-margin-y grid-padding-y">
            <div class="cell laptop-16 laptop-offset-4">

                <div class="grid-x laptop-up-4 text-center  grid-padding-x grid-padding-y grid-margin-x grid-margin-y">
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/graduation-rate.png" />
                        <p><strong>88%</strong>* Graduation Rate</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/job-placement.png" />
                        <p><strong>92%</strong>* Job Placement</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/graduate-in-5-months.png" />
                        <p><strong>5 </strong>Months To Graduate</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/tuition-reimbursement.png" />
                        <p><strong>81</strong>%* Full Tuition </span><span class="blue-text">Reimbursement</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/hands-on.png" />
                        <p><strong>80%</strong> Hands-on</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/tools-cart-included.png" />
                        <p><strong>Tools</strong>&nbsp;Included</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/paid-internships.png" />
                        <p><strong>81%</strong>* Paid Internships</p>
                    </div>
                    <div class="cell">
                        <img class="lazyloaded" alt="" src="/images/student-teacher-ratio.png" />
                        <p><strong>8:1</strong>* Student-to-</span><span class="blue-text">Teacher Ratio</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="grid-x grid-margin-y grid-padding-y">
            <div class="cell text-center">
                <p class="based-on">* Based on 2022 school year</p>
            </div>
        </div>
    </div>
</section>