
<style>
    .sidebarList span { display: none; }
</style>

<ul class="sidebarList">
    <li><a href="/resources/trends-insights/#filter=.cat-All">All</a> <span>[50]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-Archived">Archived</a> <span>[1]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-CollegeandUniversity">College &amp; University</a> <span>[5]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-C-Store">C-Store</a> <span>[2]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-CulinaryTrends">Culinary Trends</a> <span>[20]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-Featured">Featured</a> <span>[41]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-Healthcare">Healthcare</a> <span>[2]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-K-12">K-12</a> <span>[3]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-MenuClaims">Menu Claims</a> <span>[23]</span></li>
    <li><a href="/resources/trends-insights/#filter=.cat-ProfitDrivingTips">Profit Driving Tips</a> <span>[22]</span></li>
</ul>