.welcome-dashboard h1 { font-size: 45px; color: #64a33e; border-bottom: 1px solid #64a33e; }
.welcome-dashboard h2 { font-size: 35px; color: #093266; }
.welcome-dashboard h3 { font-size: 25px; color: #093266; }
