
<style>
    h1, h2, h3, h4, h5, h6, p, div, li { color: #2a2727; }
</style>

<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <div class="large-24 cell">
            <h4 style="color:darkred; font-weight:700;">Site Styles</h4>
            <div class="callout">
                <div class="grid-x grid-padding-x">
                    <div class="cell medium-8">

                        <h1>H1- Lorem ipsum</h1>
                        <h2>H2- Lorem ipsum</h2>
                        <h3>H3- Lorem ipsum dolor sit</h3>
                        <h4>H4- Lorem ipsum dolor sit amet</h4>
                        <h5>H5- Lorem ipsum dolor sit amet</h5>
                        <h6>H6- Lorem ipsum dolor sit amet</h6>
                        
                    </div>
                    <div class="cell medium-8">
                        <p><strong>p-</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p><em><strong>p [em]-</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em></p>
                        <hr />
                        <div><strong>div-</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
                        <div><em><strong>div [em]-</strong> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</em></div>
                        <hr />
                        <div class="grid-x medium-up-2">
                            <div class="cell">
                                <ul>
                                    <li>UL 01</li>
                                    <li>UL 02</li>
                                    <li>UL 03</li>
                                </ul>
                            </div>
                            <div class="cell">
                                <ol>
                                    <li>OL 01</li>
                                    <li>OL 02</li>
                                    <li>OL 03</li>
                                </ol>
                            </div>
                        </div>
                       
                    </div>
                    <div class="cell medium-8">
                        <blockquote>
                            <p><strong>blockquote- </strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </blockquote>
                        <br />
                        <cite>Cite Author</cite>
                        <br />
                        <mark>Mark text</mark>
                        <br /><br />
                        <dfn>Dfn text</dfn>
                        <br /><br />
                        <address>Address<br />308 Roosevelt Dr.<br /> New Boston, Pa 12345</address>
                        <br />
                        <fieldset>
                            <legend>Fieldset legend</legend>
                            <p>Fieldset- Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br />
    <div class="grid-x grid-padding-x">
        <div class="large-16 medium-16 cell">

            <h4 style="color:darkred; font-weight:700;">Form Fields</h4>
            <form>
                <div class="grid-x grid-padding-x">
                    <div class="large-24 cell">
                        <label style="font-weight:700;">Input Label</label>
                        <input type="text" placeholder="large-24.cell" />
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-8 medium-8 cell">
                        <label style="font-weight:700;">Input Label</label>
                        <input type="text" placeholder="large-8.cell" />
                    </div>
                    <div class="large-8 medium-8 cell">
                        <label style="font-weight:700;">Input Label</label>
                        <input type="text" placeholder="large-8.cell" />
                    </div>
                    <div class="large-8 medium-8 cell">
                        <div class="grid-x">
                            <label style="font-weight:700;">Input Label</label>
                            <div class="input-group">
                                <input type="text" placeholder="small-18.cell" class="input-group-field" />
                                <span class="input-group-label">.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-24 cell">
                        <label style="font-weight:700;">Select Box</label>
                        <select>
                            <option value="husker">Husker</option>
                            <option value="starbuck">Starbuck</option>
                            <option value="hotdog">Hot Dog</option>
                            <option value="apollo">Apollo</option>
                        </select>
                    </div>
                </div>
                <div class="grid-x grid-padding-x">
                    <div class="large-12 medium-12 cell">
                        <label style="font-weight:700;">Choose Your Favorite</label>
                        <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Radio 1</label>
                        <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Radio 2</label>
                    </div>
                    <div class="large-12 medium-12 cell">
                        <label style="font-weight:700;">Check these out</label>
                        <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
                        <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
                    </div>
                </div>
                <br />
                <div class="grid-x grid-padding-x">
                    <div class="large-24 cell">
                        <label style="font-weight:700;">Textarea Label</label>
                        <textarea rows="3" placeholder="small-24.cell"></textarea>
                    </div>
                </div>
                <br />

                <label style="font-weight:700;">Colors</label>
                <div class="grid-x medium-up-8 grid-padding-y  grid-margin-x   text-center">
                    <div class="cell" style="background-color:#e2e0e1;">#e2e0e1</div>
                    <div class="cell" style="background-color:#848a94;">#848a94</div>
                    <div class="cell" style="background-color:#2a2727; color:#fff">#2a2727</div>
                    <div class="cell" style="background-color:#cb7e12;">#cb7e12</div>
                    <div class="cell" style="background-color:#05a9c4;">#05a9c4</div>
                    <div class="cell" style="background-color:#abf4ff;">#abf4ff</div>
                </div>

            </form>
        </div>

        <div class="large-8 medium-8 cell">
            <h4 style="color:darkred; font-weight:700;">Site  Buttons</h4> <br />
            <div class="text-center">
                <a class="btn dark text-center" style="background-color:#000000" href="/efficiency-bootcamps/">Button Sample 1</a>
            </div>

            <br />
            <div class="callout text-center" style="background-color: #05a9c4;">
                <button class="btn text-center">
                    Button Sample 2
                </button>
            </div>
            <h4 style="color:darkred; font-weight:700;">Zurb Buttons</h4>
            <div class="grid-x medium-up-2">
                <div class="cell">
                    <p>
                        <a href="#" class="button">Simple Button</a><br />
                        <a href="#" class="success button">Success Btn</a>
                    </p>
                </div>
                <div class="cell">
                    <p>
                        <a href="#" class="secondary button">Secondary Btn</a><br />
                        <a href="#" class="alert button">Alert Btn</a>
                    </p>
                </div>
            </div>


            <br />
            <div class="callout">
                <h5>So many components!</h5>
                <p>A whole kitchen sink of goodies comes with Foundation. Check out the docs to see them all, along with details on making them your own.</p>
                <a href="https://get.foundation/sites/docs/" class="small button">Go to Foundation Docs</a>
            </div>
        </div>
    </div>
</div>