@inherits UmbracoViewPage



<div class="outline">
    <div class="grid-x">
        <div class="cell large-2 text-center">2</div>
        <div class="cell large-2 text-center">4</div>
        <div class="cell large-2 text-center">6</div>
        <div class="cell large-2 text-center">8</div>
        <div class="cell large-2 text-center">10</div>
        <div class="cell large-2 text-center">12</div>
        <div class="cell large-2 text-center">14</div>
        <div class="cell large-2 text-center">16</div>
        <div class="cell large-2 text-center">18</div>
        <div class="cell large-2 text-center">20</div>
        <div class="cell large-2 text-center">22</div>
        <div class="cell large-2 text-center">24</div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell large-2 text-center">2 + m</div>
        <div class="cell large-2 text-center">4</div>
        <div class="cell large-2 text-center">6</div>
        <div class="cell large-2 text-center">8</div>
        <div class="cell large-2 text-center">10</div>
        <div class="cell large-2 text-center">12</div>
        <div class="cell large-2 text-center">14</div>
        <div class="cell large-2 text-center">16</div>
        <div class="cell large-2 text-center">18</div>
        <div class="cell large-2 text-center">20</div>
        <div class="cell large-2 text-center">22</div>
        <div class="cell large-2 text-center">24</div>
    </div>
</div>
<div class="grid-container outline">
    <div class="grid-x">
        <div class="cell large-2 text-center">2</div>
        <div class="cell large-2 text-center">4</div>
        <div class="cell large-2 text-center">6</div>
        <div class="cell large-2 text-center">8</div>
        <div class="cell large-2 text-center">10</div>
        <div class="cell large-2 text-center">12</div>
        <div class="cell large-2 text-center">14</div>
        <div class="cell large-2 text-center">16</div>
        <div class="cell large-2 text-center">18</div>
        <div class="cell large-2 text-center">20</div>
        <div class="cell large-2 text-center">22</div>
        <div class="cell large-2 text-center">24</div>
    </div>
    <div class="grid-x grid-padding-x">
        <div class="cell large-2 text-center">2 + p</div>
        <div class="cell large-2 text-center">4</div>
        <div class="cell large-2 text-center">6</div>
        <div class="cell large-2 text-center">8</div>
        <div class="cell large-2 text-center">10</div>
        <div class="cell large-2 text-center">12</div>
        <div class="cell large-2 text-center">14</div>
        <div class="cell large-2 text-center">16</div>
        <div class="cell large-2 text-center">18</div>
        <div class="cell large-2 text-center">20</div>
        <div class="cell large-2 text-center">22</div>
        <div class="cell large-2 text-center">24</div>
    </div>
    <div class="grid-x grid-margin-x">
        <div class="cell large-2 text-center">2 + m</div>
        <div class="cell large-2 text-center">4</div>
        <div class="cell large-2 text-center">6</div>
        <div class="cell large-2 text-center">8</div>
        <div class="cell large-2 text-center">10</div>
        <div class="cell large-2 text-center">12</div>
        <div class="cell large-2 text-center">14</div>
        <div class="cell large-2 text-center">16</div>
        <div class="cell large-2 text-center">18</div>
        <div class="cell large-2 text-center">20</div>
        <div class="cell large-2 text-center">22</div>
        <div class="cell large-2 text-center">24</div>
    </div>
</div>


<style>
    .grid-container { position: relative; }
    .grid-x { border: 1px solid green; }
    .cell { border: 1px solid blue; }
    .cell .cell { border: 1px solid red; }
    .outline .cell { border: 1px solid violet; color: violet; }
</style>

