@inherits Umbraco.Web.Mvc.UmbracoViewPage<Models.Call2Action>



<section class="grid-x call2action" style="background-image:url('@Model.BackgroundImgUrl');">
    <div class="cell text-center">
        <br />
        <br />
        <br />
        <h4>Get Your Free Quote Now. Call <br class="show-for-medium-only" /><strong><a href="@Model.phoneLnk.Url">@Model.phoneLnk.Name</a></strong></h4>
        <br />
        <br />
        <br />
    </div>
</section>