@inherits Umbraco.Web.Mvc.UmbracoViewPage



<footer class="grid-x">
    <div class="cell text-center">
        <br />
        <h6>&copy;2020 Texas H.C. <br class="hide-for-medium" />Construction &amp; Foundattion Repairs</h6>
        <h6>Designed by <a href="http://5thstudios.com" target="_blank">5th Studios, LLC</a></h6>
        <br />
    </div>
</footer>