@model Core.Models.Thankyou


<style>
    .introduction-end { background: url('/media/1138/hexagonbg_02.png')no-repeat left top #000; }
</style>




<article class="content introduction-end" id="chapterthankyou">
    <div class="inner">
        <div class="row introduction-end-con">
            <div class="col-12">
                <div class="hide visibility">
                    <br class="hide-for-small" />
                    <br class="hide-for-small" />
                    @Html.Raw(Model.ResponseText)

                    <div style="text-align:right;">
                        <img src="@Model.SignatureImgUrl" class="signature" alt="James Fifth" />
                    </div>
                    <br />
                    <br />
                    <div id="rotate" class="rotate">
                        @foreach (string attr in Model.LstMyAttributes)
                        {
                            <div><span>@attr</span></div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>

